{include file="data/inc.meta.htm"}
{include file="data/inc.header.htm"}
<main>
{if !$smarty.get.sSuche}
    {*#########################################################################################################Headline*}
    <header class="headline">
            {if $aWarengruppe.bild2}
            <img src="image.php?f={$aWarengruppe.bild2}" alt="{$aWarengruppe.bezeichnung}" title="{$aWarengruppe.bezeichnung}" />
            {elseif $aWarengruppe.bild_gross}
            <img src="image.php?f={$aWarengruppe.bild_gross}" alt="{$aWarengruppe.bezeichnung}" title="{$aWarengruppe.bezeichnung}" />
            {else}
            <img src="/image.php?t=tpl&f=assets/not-found_category-header.jpg" alt="{$aWarengruppe.bezeichnung}" title="{$aWarengruppe.bezeichnung}" />
            {/if}
    </header>
    {include file="data/inc.module.breadcrumb.htm"}
    {*#############################################################################type of listing and filter options *}
    {if $aWarengruppe.beschreibung != '' && !isset($groupArticleRecursive)}
    <section class="description wrp">
        <div class="hint message">
        {$aWarengruppe.beschreibung}
        </div>
    </section>
    {/if}
    {if isset($groupArticleRecursive)}
        {include file="data/inc.tradegroups.recursive.htm"}
    {elseif !empty($aData)}
        {include file="data/inc.tradegroups.fullsize.htm"}
    {else}
        {include file="data/inc.module.category.filtering.htm"}
        {if isset($pages)}
            {include file="data/inc.module.pagination.htm"}
        {/if}
    {/if}
{/if}
    {*###############################################################################################Artikelsuche*}
{if !$aArtikel && $smarty.get.sSuche}
    <section class="description wrp">
        <div class="hint">Ihre Suche hat keine Treffer ergeben!</div>
    </section>
{/if}
{if $aArtikel && $smarty.get.sSuche}
    <section class="description wrp">
        <div class="hint message success search">Ihre Suche nach <b>"{$smarty.get.sSuche}"</b> hat folgende Ergebnisse ergeben:</div>
    </section>
{/if}

    {*###############################################################################################Artikeldarstellung*}
    {if isset($groupArticleRecursive)}
    {else}
    {if $aArtikel != ''}
        {include file="data/inc.productlisting.htm"}
    {/if}
    {/if}
    <div class="wrp">
    {if $aWarengruppe.beschreibung2}
        <section class="description col_left">
            <p>{$aWarengruppe.beschreibung2}</p>
        </section>
    {/if}
    {if $aWarengruppe.beschreibung3}
        <section class="description col_right">
            <p>{$aWarengruppe.beschreibung3}</p>
        </section>
    {/if}
        <div class="clr"></div>
        </div>
    {include file="data/blocks/inc.block.parallax.htm"}
    {if $aWarengruppe.beschreibung4}
    <section class="description wrp">
        <p>{$aWarengruppe.beschreibung4}</p>
    </section>
    {/if}
</main>
{*###############################################################################################################Footer*}
{include file="data/inc.footer.htm"}
{literal}
<script>
    $(document).ready(function(){
        new Script('parallax',{speed:125},'.parallax');
    });
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{/literal}{$aWarengruppe.bezeichnung}{literal}",
  "image": "{/literal}{$sHost}/dbmedia/{$aWarengruppe.bild}{literal}",
  "brand": {
    "@type": "Thing",
    "name": "{/literal}{$sHost}{literal}"
  }
}
</script>
<script type="text/javascript" src="script/fresco/fresco.js"></script>
{/literal}
</body>
</html>