{include file="data/inc.meta.htm"}
<div id="creatorContentWrapper">
{include file="data/inc.header.htm"}
{include file="data/inc.module.breadcrumb.htm"}
{if $multiuploadOnDetail}
    {include file="data/inc.file-upload-templates.htm"}
{/if}

<main>
    <section id="product-detail">
        <div class="wrp cf">
        {include file="data/inc.module.errorhandler.htm"}
            {if !$aArtikelPreisstaffel}
                <div class="hint">Es ist ein Fehler in der Preisstaffel aufgetreten. Diese ist leer. Dieser Artikel kann zu Zeit nicht erworben werden, kontaktieren Sie bitte den Shop-Inhaber.</div>
            {/if}
        </div>
        <div class="wrp cf">
            <form name="formular" id="formular" method="post" action="{$articleBaseUrl}" enctype="multipart/form-data">
                {if $aArtikel.grand_gallery == "1"}
                    {include file="data/inc.detail/inc.detail.productimages.top.htm"}
                    {*include file="data/inc.detail/inc.detail.sidebar.left.htm"*}
                {else}
                    {include file="data/inc.detail/inc.detail.sidebar.left.htm"}
                {/if}
                {include file="data/inc.detail/inc.detail.content.htm"}
                {include file="data/inc.detail/inc.detail.sidebar.right.htm"}
            </form>
            {include file="data/inc.detail/inc.detail.delivery.htm"}
            {if $smarty.get.tabs == "no"}
            {include file="data/inc.detail/inc.detail.text.htm"}
            {else}
            {include file="data/inc.detail/inc.detail.tabs.htm"}
            {/if}
        </div>

    </section>
    {include file="data/blocks/inc.block.parallax.htm"}
</main>
{include file="data/inc.footer.htm"}
</div>
{if isset($iframeSrc)}
<div id="creatorModal" class="modal creator hide fade" style="overflow: hidden">
    <iframe src="//{$domain}/{$iframeSrc}" width="100%" height="100%"></iframe>
</div>
<style>
    .creatorOpened { margin: 0 !important; height: 100% !important; overflow: hidden !important;  position: relative !important; }
    #ds_popup_overlay_close { position: absolute; top: 0; right: 0; width: 50px; height: 50px; z-index: 22; }
    @media(max-width: 768px) {
        #creatorModal iframe { width: 100%; height: 100%; }
        #creatorModal { height: calc(100% - 80px) !important;
            -webkit-overflow-scrolling: touch !important;;
            overflow-y: scroll !important;;
            overflow-x: scroll !important;;
        }
    }
</style>
{/if}


{if $multiuploadOnDetail}
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="script/jquery.ui.widget.js"></script>

    {*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>*}
    <!--
      <script src="_ressources/javascript/jquery.ui.widget.js"></script>
    -->
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <!-- <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> -->

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="script/fileupload/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="script/fileupload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="script/fileupload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="script/fileupload/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="script/fileupload/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="script/fileupload/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="script/fileupload/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="script/fileupload/jquery.fileupload-ui.js"></script>

    <script>
        var accept_file_types = {$uploadOptions.accept_file_types};
        var max_file_size = {$uploadOptions.max_file_size};
        var autoUpload = {if $uploadOptions.autoUpload}true{else}false{/if};
        {literal}
        var size = 0;

        $(document).ready(function () {
            'use strict';

            var uploadFiles = new Array();
            var numOfUploadedFiles = 0;

            $('#formular').fileupload({
                //  dataType: 'json',
                {/literal}
                url: '{$uploadOptions.script_url}',
                {literal}
                autoUpload: autoUpload,
                prependFiles: true,
                acceptFileTypes: accept_file_types,
                maxFileSize: max_file_size,
                messages: {
                    maxNumberOfFiles: 'Maximal Anzahl erlaubter Dateien erreicht',
                    acceptFileTypes: 'Dateityp nicht erlaubt',
                    maxFileSize: 'Datei ist zu groß',
                    minFileSize: 'File is too small'
                }

            }).on('fileuploadadd', function (index, file) {
                // console.log('Added file: ' + file.name);
                $('#formular .progressBar').val(0);

                uploadFiles.push(file);

            }).on('fileuploadprogress', function (e, data) {
                var progress = Math.floor(data.loaded / data.total * 100);
                $('#formular .progressBar').val(progress);

            }).on('fileuploaddone', function (e, data) {
                var errorOccured = false;
                if (data.result.files[0].error == undefined) {
                    numOfUploadedFiles++;
                    $('#to_upload_check').removeClass('hidden');
                } else {
                    errorOccured = true;
                }
                $('#formular .hint').remove();
                //            $('#formular .progressBar').val(100);
                var index = uploadFiles.indexOf(data);
                if (index != undefined) {
                    uploadFiles.splice(index, 1);
                }

                if (errorOccured) {
                    $('#uploaderErrorMsg .message').text(data.result.files[0].error);
                    $('#uploaderErrorMsg').removeClass('hidden');
                }

                // redirect to detail url if all uploads completed
                if(uploadFiles.length == 0 && !errorOccured){
                    {/literal}
                    $('body').append('<div id="preloader" class="active"><div class="anim loading"></div></div>')
                    location.href = '{$uploadOptions.detail_url}';
                    {literal}
                }

            }).on('fileuploaddestroy', function (e, data) {
                data.context.remove();

            }).on('fileuploaddestroyed', function (e, data) {
                numOfUploadedFiles--;
                if (numOfUploadedFiles == 0) {
                    $('#to_upload_check').addClass('hidden');
                }

                $.ajax({
                    // Uncomment the following to send cross-domain cookies:
                    //xhrFields: {withCredentials: true},
                    url: $('#formular').fileupload('option', 'url'),
                    data: {m: 'list'},
                    dataType: 'json'
                }).done(function (result) {

                });

            }).addClass('fileupload-processing');

            $.ajax({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: $('#formular').fileupload('option', 'url'),
                data: {m: 'list'},
                dataType: 'json',
                context: $('#formular')[0]
            }).always(function () {
                //            $(this).removeClass('fileupload-processing');
            }).done(function (result) {
                numOfUploadedFiles = result.files.length;
                if (numOfUploadedFiles > 0) {
                    $('#to_upload_check').removeClass('hidden');
                } else {
                    $('#to_upload_check').addClass('hidden');
                }

                $(this).fileupload('option', 'done')
                        .call(this, $.Event('done'), {result: result});
            });


            $('.btn.upload').click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                for (var i = 0; i < uploadFiles.length; i++) {
                    uploadFiles[i].submit();
                }
            });

        });
    </script>
    {/literal}
{/if}



{literal}
<script>
$(document).ready(function(){
    $('#loseblatt_file_delete_button').click(function (e) {
        $( "#del_loseblatt_file" ).val('1');
        $( "#formular" ).submit();
    });

    {/literal}

    new Script('form',{},'#formular');

    {if !$multiuploadOnDetail}
    {literal}

    $('#loseblatt_file_delete_button').click(function (e) {
        $( "#del_loseblatt_file" ).val('1');
        $( "#formular" ).submit();
    });

    new Script('popup',{},'.ds_popup');
    new Script('parallax',{},'.parallax');
    new Script('tabs',{},'#product_informations');
    new Script('sidescroller',{},'');
    //new Script('gallerytoggle',{},'#detail_infobar_gallery');
    new Script('upload',{showPercent: true, showFileName: true, autoSubmit: true}, '.upload_field');
    {/literal}
    {/if}
    {literal}

  // If modal exists, display and show overlay with close button.
    var cm = $('#creatorModal');
    if (cm.length > 0) {

        var overlay = $('<div id="ds_popup_overlay"><div id="ds_popup_overlay_close"></div></div>');
        cm.after(overlay);
        cm.show();
        $('html, body').addClass('creatorOpened'); // @todo BK
        $('#creatorContentWrapper').hide();

        $('#ds_popup_overlay_close').on('click touchstart', function(event) {
            var me = $('#ds_popup_overlay');
            $('#creatorModal').hide();
            $('#creatorContentWrapper').show();
            me.remove();
            $('html, body').removeClass('creatorOpened'); // @todo BK
        });

        $(document).on('click touchstart', '#ds_popup_overlay', function(event) {
            var me = $(event.target);
            // Close only if this click is on the pseudo-element in the 50x50 top-right corner.
            if (event.offsetY < 50
                    && event.offsetX > (me.outerWidth()-50)
                    && confirm("Sind Sie sicher dass Sie die Personalisierung wirklich verlassen wollen? Ihre Eingaben gehen dabei verloren.")
            ) {
                $('#creatorModal').hide();
                $('#creatorContentWrapper').show();
                me.remove();
                $('html, body').removeClass('creatorOpened'); // @todo BK
            }
        });
    }
});
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{/literal}{$aArtikel.bezeichnung}{literal}",
  "image": "{/literal}{$sHost}/dbmedia/{$aArtikel.bild_klein}{literal}",
  "description": "{/literal}{$aArtikel.beschreibung}{literal}",
  "mpn": "{/literal}{$aArtikel.artikelnummer}{literal}",
  "brand": {
    "@type": "Thing",
    "name": "{/literal}{$sHost}{literal}"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "{/literal}{if $aAllgEinstellungen.waehrung == 'EUR' || $aAllgEinstellungen.waehrung == '€' || $aAllgEinstellungen.waehrung == 'eur' || $aAllgEinstellungen.waehrung == 'Euro'}EUR{else}CHF{/if}{literal}",
    "price": "{/literal}{$aArtikel.gesamtpreis_brutto}{literal}",
    "priceValidUntil": "{/literal} {"+7 days"|date_format:"%d-%m-%Y"} {literal}",
    "itemCondition": "http://schema.org/NewCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "{/literal}{$aWarengruppe.bezeichnung}{literal}"
    }
  }
}
</script>
<script src="script/datepicker/picker.js"></script>
<script src="script/datepicker/picker.date.js"></script>
<script src="script/countdown/countdown.js"></script>
<script>
    $(document).ready(function(){
        {/literal}
        var articleId = {$c};
        {literal}
        $('.deletePartialDelivery').click(function (e) {
            var deletePartialDelivery = $(this).data('key');

            $.ajax({
                url: 'detail.htm',
                data: {
                    action: 'deletePartialDelivery',
                    articleId: articleId,
                    deletePartialDelivery: deletePartialDelivery
                },
                dataType: "json",
                success: function(response) {
                    if (response.status) {
                        $('[name="cmd_calc"]').click();

                    }
                }
            });

            return false;
        });

        $('.datepicker').pickadate();
        $("#delivery_countdown")
            .countdown("{/literal}{$dataCounterPrintDay.y}/{$dataCounterPrintDay.m}/{$dataCounterPrintDay.d} {$dataCounterPrintDay.h}:{$dataCounterPrintDay.i}:{$dataCounterPrintDay.s}{literal}", function(event) {
                $(this).text(
                        event.strftime('Bei Bestellung innerhalb der n\xE4chsten %H:%M Stunden')
                );
            });
    });
</script>
<script type="text/javascript" src="script/fresco/fresco.js"></script>
{/literal}
</body>
</html>