
{include file="data/inc.meta.htm"}
{include file="data/inc.header.htm"}
<main id="order_sample">
    <div class="wrp cf">
        <form class="receiver-form cf" name="druckmuster"  method="post" onSubmit="return chkFormular()" >
            <article>
                <h1>Empf&auml;ngeradresse</h1>
                {include file="data/inc.form/inc.formular.billingaddress.htm"}
            </article>
            <aside id="sidebar">
                <h2>Druckmuster w&auml;hlen</h2>
                {if $aMuster}
                    {foreach from=$aMuster item=item key=key}
                        <fieldset>
                        <input type="checkbox" name="Druckmuster[{$key}]" tabindex="13" value="{$item}" style="margin-top:14px;">
                        {$item} {cycle values=" , "}
                        </fieldset>
                    {/foreach}
                {else}
                <div class="hint message">
                    Leider bieten wir zur Zeit keine Druckmuster an.
                </div>
                {/if}
                <hr />
                <fieldset>
                    <strong>{$lang.mitteilung}</strong>
                    <textarea name="mitteilung" tabindex="18" placeholder="Bitte senden Sie mir kostenlose Druckmuster Ihrer Produkte an oben stehende Adresse."></textarea>
                </fieldset>
                {if $aAllgEinstellungen.captcha_jn}
                <fieldset>
                    <label>Captcha</label>
                    <input type="text" name="captcha_code" size="30" maxlength="6" required />
                    <span class="requirement">*</span>
                    <label></label>
                    <img id="captcha" src="/securimage/securimage_show.php" alt="CAPTCHA Image" />
                    <label></label>
                    <a href="#" onclick="document.getElementById('captcha').src = '/securimage/securimage_show.php?' + Math.random(); return false">[Unlesbar?]</a>
                </fieldset>
                {/if}
                {if $aAllgEinstellungen.privacypolicy_printpattern == 1}
                <fieldset>
                    <input type="checkbox" id="datenschutz" required name="privacepolicy_check" value="1">
                    <label for="datenschutz">Ich stimme der <a href="/cms.htm?c=privacypolicy" target="_blank">
                        Datenschutzerkl&auml;rung</a> zu.</label>
                </fieldset>
                {/if}
                <p class="hint message">Hinweis: Alle mit einem Stern (*) versehene Felder sind Pflichtfelder.</p>
                <button name="submit" type="submit" class="btn success" id="submit">Anforderung absenden</button>
            </aside>
        </form>
    </div>
    {include file="data/blocks/inc.block.parallax.htm"}
</main>
{include file="data/inc.footer.htm"}
{literal}
<script>
    $(document).ready(function(){
        new Script('parallax',{speed:125},'.parallax');
    });
</script>
{/literal}
</body>
</html>