{include file="data/inc.meta.htm"}
{include file="data/inc.header.htm"}
<main>
    {*extends file="tpl/ds_master/index.htm"*}
    {block name='content'}
    {include file="data/inc.module.slider.htm"}
    {include file="data/blocks/inc.block.usp.htm"}
    {if $aAllgEinstellungen.cms_homepage_text}
        <div class="wrp">
            <p>{$aAllgEinstellungen.cms_homepage_text}</p>
        </div>
    {/if}
    {if $smarty.get.login == "1"}
    <div class="wrp">
        <p class="hint message success" style="margin-top: 20px;">{$lang.login_successful}</p>
    </div>
    {elseif $smarty.get.logout == "1" }
    <div class="wrp">
        <p class="hint message success" style="margin-top: 20px;">{$lang.logout_successful}</p>
    </div>
    {/if}
    {if $smarty.get.msg}
    <div class="wrp">
        <p class="hint message success" style="margin-top: 20px;">{$lang.reg_msg}</p>
    </div>
    {/if}

    {include file="data/inc.tradegroups.tabs.htm"}
        {if $postAktuellShopSettings && $postAktuellShopSettings->infoBlockShowAreaSearchOnIndex}
            {include file="data/inc.postaktuell/inc.postaktuell.index.htm"}
        {/if}



    {if $aAllgEinstellungen.cms_homepage_text2}
    <div class="wrp">
        <p>{$aAllgEinstellungen.cms_homepage_text2}</p>
    </div>
    {/if}

    {include file="data/inc.tradeblocks.htm"}

    {if $aAllgEinstellungen.cms_homepage_text3}
    <div class="wrp">
        <p>{$aAllgEinstellungen.cms_homepage_text3}</p>
    </div>
    {/if}



    {if $aAllgEinstellungen.cms_homepage_text4}
    <div class="wrp">
        <p>{$aAllgEinstellungen.cms_homepage_text4}</p>
    </div>
    {/if}

    {include file="data/blocks/inc.block.parallax.htm"}
  <!--  {include file="data/blocks/inc.block.payment.htm"}-->
    {/block}
</main>
{include file="data/inc.footer.htm"}
    {if $postAktuellShopSettings}
        <script src="script/post_aktuell/postAktuell.js"></script>
    {/if}
{literal}
<script>
    $(document).ready(function(){
        new Script('slider',{controlNav:true, sideNav:true, autoSlide:true, responsive:true, speed:8000, duration: 600},'#slider');
        new Script('tabs',{duration:125},'.trade-groups');
        new Script('parallax',{},'.parallax');
    });
</script>
{/literal}
</body>
</html>