//#address
  //background: $color_gray
  padding: $grid 0
  form
    //border: solid 1px darken($color_gray, 10%)
    background: $color_white
    box-sizing: border-box
    //padding: 30px 0 //$grid
    padding-bottom: $grid
    width: 700px
    //margin: 0 auto
    section
      padding: $grid / 2 0
      //border-top: solid 1px $color_gray