.cart_breadcrumb
  margin: 30px auto
  ul
    width: 100%
    margin: 0
    overflow: hidden
    display: flex
    flex-direction: row
    flex-wrap: nowrap
  li
    font-size: 16px
    line-height: 21px
    box-sizing: border-box
    background: $color_gray
    color: $color_font
    padding: 15px 45px 15px 50px
    height: auto
    position: relative
    width: 33.333333%
    display: flex
    flex-direction: column
    justify-content: center
    &:after
      content: ''
      display: block
      width: 40px
      height: 40px
      background: $color_gray
      border-style: solid
      border-color: $color_white
      border-width: 3px 3px 0 0
      right: -18px
      top: 5px
      z-index: 1
      transform: rotate(45deg)
      position: absolute
    &:before
      display: none
    &.active
      background: $color_highlight
      color: $color_white
      &:after
        background: $color_highlight
    &:first-child
      padding: 15px 30px
    &:last-child
      &:after
        display: none
    &.disabled
      background: lighten(desaturate($color_highlight, 25%), 10%)
    &.preactive
      background: $color_highlight
      color: $color_white
      &:after
        background: $color_highlight
    &.unactive
      background: $color_highlight
      color: $color_white
      &:after
        background: $color_highlight

#cart
  padding: 0
  margin-bottom: 50px
  .hint
    margin: 0
  strong,h3,h4,h5,h6
    margin: 0
    padding: 0
    font-weight: 300
    font-family: regular
    text-align: left
    color: $color_highlight
    &:after
      display: none
  strong
    font-size: 14px
  td select
    display: inline-block
    width: 55px
    height: 25px
    padding: 3px
    margin-right: 10px
    option
      line-height: 25px
      height: 25px

  .product_calculation
    td
      background: $color_gray
      padding: 5px 10px
      strong
        text-align: right
        margin: 0
        font-size: 18px
        display: inline-block
      h3
        font-size: 18px
        width: 100%

  .product_options strong
    margin-top: 20px

  #total_netto,
  #total_coupon,
  #total_shipping,
  #total_vat,
  #total_options,
  #total_price
    td,
    td strong
      text-align: right
  #total_shipping td
    padding-top: 20px
  tr:nth-last-child(2) td
    padding-bottom: 20px

  #total_price
    background: $color_gray
    padding: 5px 10px
    font-size: 18px
    color: $color_highlight
    text-align: right
    strong
      color: $color_highlight
      font-family: bold
      display: inline-block
      font-size: 18px
      text-align: right


  #total_netto
    td
      background: $color_gray
      padding: 5px 10px

  #sidebar
    width: 250px
    float: right
    section
      background: $color_white
      padding: 10px
      margin-bottom: 20px
      strong, h3
        font-weight: bold
        font-size: 14px
        color: $color_font
        display: block
        margin-bottom: 20px
      img
        width: 50%
        float: left
        margin-bottom: 20px

      &:first-child
        background: url($mediapath + 'cart_secure_bg.png') no-repeat bottom right $color_white


  form
    box-sizing: border-box
    width: 880px
    float: left
  table
    box-sizing: border-box
    width: 100%
    display: block
    background: $color_white
    padding: 10px
    margin-bottom: 20px
  tbody tr,
  > tr
    > td
      text-align: left
      color: $color_font
      line-height: 25px
      box-sizing: border-box
      padding: 2px 10px
      font-size: 87.5%
    > th
      font-family: bold
      font-weight: 300
      font-size: 18px
      text-align: left
      padding: 10px
      color: $color_font
    th, td
      box-sizing: border-box
      vertical-align: top
  tbody tr
    th:first-child,
    > td:first-child
      width: 370px
      border-right: solid 6px $color_white
      padding-right: 4px
    th:nth-child(2),
    > td:nth-child(2)
      width: 240px
      border-right: solid 6px $color_white
      padding-right: 4px
    th:nth-child(3),
    > td:nth-child(3)
      width: 140px
      border-right: solid 6px $color_white
      padding-right: 4px
    th:nth-child(4),
    > td:nth-child(4)
      width: 100px
      text-align: right

  #checkout_last
    form > table
      margin-bottom: 20px

#cart_options
  background: $color_white
  padding: 10px
  margin-bottom: 80px
  .col_left
    float: left
    width: 40%
    margin-right: 1%
  .hint
    margin-top: 20px
  .col_right
    float: right
    width: 49%
    margin-left: 1%
  textarea
    float: none
    display: block
    width: 100%
    height: 150px
  .btn.success
    width: 100%
    float: right
    text-align: center
    margin-top: 40px

#cart #coupon
  td
    padding-top: 10px
  button
    margin: 0 0 0 $grid / 2

  input
    width: 200px

#cart_second
  #formular
    margin-bottom: 50px
    .cart_login
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-start
      h3
        font-family: regular
        padding: 0
        margin: 0
        text-align: left
        font-size: 18px
        &:after
          display: none
      fieldset
        width: 100%

      input
        width: 300px
        background: $color_white
      label
        text-align: left
        width: 160px

      .col_right, .col_left
        float: none
        padding: 20px
        margin: 0
        background: $color_gray
        .btn
          margin: 20px 0
          width: 300px
          background: $color_highlight

      .lost_pw
        margin-top: 10px
        display: block
        text-align: left

#cart_third
  article
    width: 100%
  #cart
    background: $color_white

  table tbody tr
    th:first-child,
    > td:first-child
      width: 480px
    th:nth-child(2),
    > td:nth-child(2)
      width: 250px
    th:nth-child(3),
    > td:nth-child(3)
      width: 180px
    th:nth-child(4),
    > td:nth-child(4)
      width: 200px
      text-align: right

  .col_left,
  .col_right
    float: none
    padding: 20px
    background: $color_gray
    position: relative
    strong
      text-transform: uppercase
      padding-left: 40px

    .icon
      display: block
      position: absolute
      top: 20px
      left: 15px
      &:before
        font-size: 28px

#cart,
#cart_second,
#cart_third
  #special
    input
      width: 400px
    button
      float: right
      margin-bottom: 0
      width: 40px
      box-sizing: border-box
      min-width: 40px
      padding: 0
      .icon
        top: 10px
        left: 5px
        &:before
            color: $color_white

#cart_third_buy
  label
    width: 60px
  .btn.success
    float: right
    margin-right: 10px

#cart_third_payment
  .col_right,
  .col_left
    label
      width: 140px
    .col-2
      input
        width: 115px
  .col_left
    input, select
      width: 100%
  .col_right
    select.auto-calculate
      width: 400px

#cart_third_agb
  margin-bottom: 50px
  label
    width: 60px !important
  span
    cursor: pointer
    color: $color_highlight
  fieldset
    margin: 0



#usp-bar, #payment-bar
  display: none