#contact
  form
    padding: 50px 0
    button
      margin: 15px 0 0 0
  #usp-bar
    display: none
  #payment-bar
    display: none
  .col_right
    padding: 0
    width: 50%
  .col_left
    padding: 0
    width: 48%
  .upload_field
    progress,
    .progressBar
      width: 350px
      margin: 0 20px 0 185px
    input
      float: right
      margin-right: 80px
    .btn.upload
      clear: both
      margin-top: 20px
  .preview, .file_info
    margin-left: 185px;
