.cnt_prn
  .btn
  .default
    float: left !important
    margin-left: 0 !important
  .no_margin
    margin: 0

.cnt_prn-table th,
.cnt_prn-table td:before
  color: $color_highlight
.cnt_prn-table
  margin: 1em 0
  min-width: 300px
  width: 100%
  background: $color_white
  color: $color_white
  overflow: hidden
  tr
    border-top: 1px solid $color_gray
    border-bottom: 1px solid $color_gray
    border-color: $color_gray
  th
    display: none
    text-align: left
  td
    display: block
    padding: 0.25em
    &:first-child
      padding-top: .5em
    &:last-child
      padding-bottom: .5em
      &:before
        content: attr(data-th) " "
    &:before
      content: attr(data-th) ": "
      font-weight: bold
      width: 6.5em
      display: inline-block
  .btn
    margin-bottom: 0


@media (min-width: 767px)
  .cnt_prn-table
    td
      &:before
        display: none
    th,
    td
      padding: 1em !important
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0


  .cnt_prn-table th,
  .cnt_prn-table td
    display: table-cell









