#opc_image
  border: solid 1px $color_gray
  max-width: 100%
  height: auto
  margin-bottom: $grid


#product-detail
  padding: 50px 0
  form input:not(.btn),
  form select,
  form .non-input-field,
  form textarea
    width: 100%
  #configurator
    h3, h4
     text-align: left
     width: 90%
     border-bottom: 1px solid
     border-color: $color_highlight
     margin: 40px 20px 20px 20px
     &:after
      display: none


#product-detail
  form
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 50px
    .sidescroller
      width: 250px
      float: none
      position: static !important
      max-width: none !important
      #total_block
        float: none
        width: 100%
        margin-bottom: 0
        background: $color_gray
        br
         display: none

    #configurator
      min-height: 625px
      width: 500px
      padding: 0
      float: none
      background: $color_gray
      padding-bottom: 20px
      h1
        height: 70px
        background: $color_highlight
        color: $color_white
        box-sizing: border-box
        padding: 20px
        small
          font-size: 12px
          display: inline-block
          margin-left: 20px
          color: $color_white
      img
        display: none
        width: 70%
        margin: 0 auto 20px auto
      fieldset
        padding: 0 20px
        select, input, textarea
          background-color: $color_white




  .template-download,
  .template-upload
    clear: both
    height: 100px
    > div
      float: left
    .file_info
      margin-left: 10px
    .buttons
      float: right
      a.btn
        float: left
        margin-right: 5px
      .btn.delete.cancel
        width: auto;
    .error
      width: 700px
      margin-left: 10px
      color: $color_error

  .template-upload .btn.start
    position: absolute;
    left: 10000px;
  .template-download
    display: none;

  #detail_infobar
    width: 300px
    max-width: none !important



    #detail_infobar_text,
    #detail_infobar_gallery,
    #detail_infobar_sheets,
    #detail_bookinfo
      margin-bottom: 20px
      padding: 15px
      background: $color_gray

    h3
      margin: 0 0 20px 0
      text-align: left
      font-size: 14px
      &:after
        display: none
    li
      padding: 0

      &:before
        display: none
    input[type="checkbox"]
      margin-top: 5px

    a.pdf,
    a.indd,
    a.ai
      line-height: 38px
      height: 40px
      display: block
      position: relative
      padding-left: 35px
      &:before
        position: absolute
        color: lighten($color_font, 15%)
        font-size: 36px
        font-family: icon
        content: 'P'
        left: 0
        top: 3px
    a.indd:before
      content: 'I'
    a.ai:before
      content: 'A'

    #detail_infobar_gallery
      padding: 0
      .gallery_preview
        width: 100%
        height: auto
      li
        width: 25%
        float: left
        padding: 0
        +transition()
        img
          width: 100%
          height: auto
          cursor: pointer

        &:hover
          opacity: 0.5
          +transition()
  #detail_infobar-opc
    min-height: 20px
    width: 100%
    margin-right: 20px
    #detail_infobar_gallery
      padding: 0
      .gallery_preview
        width: 870px
        height: auto
      li
        height: 60px
        padding-right: 10px
        float: left
        &:before
          background: none
          margin-top: 3px
        +transition()
        img
          width: 100%
          height: auto
          cursor: pointer

        &:hover
          opacity: 0.5
          +transition()

  #total_block,
    background: $color_white
    float: right
    width: 250px
    padding: 80px 15px 15px 15px
    box-sizing: border-box
    position: relative
    margin-bottom: $grid / 2
    .upload_field
      input, label
        width: 100%
        margin: 0
        box-sizing: border-box
        display: block
        float: none
      label
        text-align: left
  #total_block
    li
      font-size: 13px
    input,
    input:not(.btn),
    .non-input-field,
    select
      width: 100%

    h1,h2,h3
      width: auto
      text-align: left
      margin: 0 0 15px 0
      top: 0
      left: 0
      right: 0
      font-family: 'regular'
      font-size: 18px
      position: absolute
      background: $color_highlight
      height: 70px
      line-height: 40px
      padding: 15px
      color: $color_white
      &:after
        display: none

    hr
      margin: 15px 0
    li
      color: #333
      display: block
      text-align: right
      &:before
        display: none
      &.discount *
        color: darken($color_highlight, 20%)
      &.total.gross
        color: $color_highlight
        font-size: 18px
        .vat
          margin-top: 5px
          font-size: 14px
      strong
        text-align: left
        display: block
        border-bottom: solid 1px $color_gray
        margin-bottom: 5px
        padding-bottom: 5px
      .label
        display: inline-block
        width: 50%
        float: left
        text-align: left
        small
          display: inline-block
          color: $color_font
          font-size: 12px

    .btn
      display: block
      width: 100%
      font-size: 18px
      line-height: 12px
      text-align: center


  #delivery
    margin: 0 0 75px 0
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    .d_date, .d_weight
      width: 49%
      padding: 20px 20px 20px 80px
      box-sizing: border-box
      background: $color_gray
      position: relative

    strong
      margin-bottom: 10px
      display: block
    .icon
      position: absolute
      left: 20px
      top: 40px
    span, time
      font-size: 14px

    &:hover
      .tooltip
        +transition()
        opacity: 1
        visibility: visible

  #bulk
    position: absolute
    top: 70px
    left: 0
    right: 0
    display: block
    background: lighten($color_gray, 1%)
    background: $color_mediumgray
    border-bottom: solid 1px darken($color_gray, 5%)
    height: 40px
    padding: 0 15px
    line-height: 30px
    .info
      display: inline-block
      float: none
      .tooltip
        left: auto
        right: 40px
        width: 580px
        max-width: 620px
        display: block
        > strong:first-child
          display: block
          margin-bottom: 10px
          font-family: 'bold'
          font-size: 18px

      .col
        float: left
        width: 33.333333%
        display: block
      strong
        font-size: 14px
        display: block
      li
        text-align: left
        font-size: 12px
  #bulk_height
    height: 40px

#product_informations
  background: $color_gray
  position: relative
  header
    display: flex
    flex-direction: row
    position: absolute
    top: -25px
    .tab
      z-index: 1
      cursor: pointer
      box-sizing: border-box
      display: block
      padding: 10px $grid / 2
      font-size: 16px
      background: $color_mediumgray
      color: $color_font
      &.current
        background: $color_highlight
        color: $color_white
  .content
    position: relative
    z-index: 0
    padding: 40px
  .tab_content
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    -webkit-transform: translate3d(0,0,0)
    -moz-transform: translate3d(0,0,0)
    -ms-transform: translate3d(0,0,0)
    transform: translate3d(0,0,0)
    img
      margin-left: 40px

    h1,h2,h3,h4,h5,h6
      padding-bottom: 5px
      border-bottom: 1px solid
      border-color: $color_highlight
      margin-bottom: 20px
      small
        display: inline-block
        font-size: 12px
        margin-left: 15px