footer.main
  background: $color_gray
  padding: 50px 0
  a
    text-decoration: none
  .footer-parent
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    nav
      width: 30%
      h3
        color: $color_highlight
      li
        display: block
        &:before
          display: none
        a
          display: block
          background: transparent
          font-size: 14px
          color: $color_font
          border-bottom: solid 1px lighten($color_lightgray, 20%)
          padding: 5px 0
          position: relative
          +transition()
          &:hover
            text-decoration: none
            text-indent: 5px
            color: $color_highlight
            +transition()
          &:after
            position: absolute
            top: 5px
            right: 0
            content: '>'
        &:last-child a
            border: none
  address
    color: $color_font
    font-size: 14px
    width: 30%
    .headline
      color: $color_highlight
    .col_left
      color: $color_font
      font-size: 14px
      margin-bottom: 50px
    .col_right
      color: $color_font
      font-size: 14px
      margin-bottom: 80px
  i
    display: block
    font-family: 'bold'
    color: $color_highlight
    font-size: 22px
    margin-bottom: 20px
    a
      font-family: 'bold'
      color: $color_highlight
      font-size: 22px
      &:hover
        text-decoration: none
    &:before
      float: left
      content: 'y'
      font-family: 'icon'
      color: rgba($color_font, .5)
      font-size: 40px
      width: 40px
      height: 40px
      display: block
      margin-right: 10px
    &.mail:before
      content: 'h'


#footer-bar
  background: $color_darkgray
  height: 50px
  .wrp
    font-size: 12px
    color: $color_white
    line-height: 50px

#footer-product-nav
  max-height: 245px
  overflow: hidden
  position: relative
  margin-bottom: 10px
  &.active
    +transition()
    max-height: 2000px
    height: auto


#footer-product-nav_toggle
  display: block
  height: 30px
  line-height: 20px
  font-size: 14px
  border-radius: 4px
  background: darken($color_gray, 5%)
  padding: 5px 20px
  color: $color_highlight


#totop
  right: 0
  left: 0
  -webkit-transform: translate3d(0,0,0)
  -moz-transform: translate3d(0,0,0)
  -ms-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
  will-change: bottom
  height: 50px
  position: fixed
  bottom: -50px
  +transition()
  &.active
    will-change: bottom
    +transition()
    bottom: 0
  a
    float: right
    display: block
    height: 50px
    width: 50px
    &:before
      display: block
      width: 50px
      height: 50px
      text-align: center
      line-height: 50px
      font-size: 30px
      font-family: 'icon'
      content: 't'
      color: $color_font
      +transition()
      background: $color_gray
    &:hover
      text-decoration: none
      &:before
        +transition()
        background: $color_highlight
        color: $color_white