header.main
  .wrp
    box-sizing: border-box
    padding: 0 10px
  #service-bar
    background: #ffffff
    border-bottom: 1px solid
    border-color: #f0f0f0
    height: 30px
    a
      font-size: 12px
    span
      font-size: 12px
      line-height: 30px
      float: left
      margin-right: 40px
      &.label_tel,
      &.label_mail
        font-family: 'regular'
        color: $color_highlight
        &:before
          float: left
          font-family: 'icon'
          color: $color_font
          font-size: 15px
          content: 'y'
          margin-right: 8px
      &.label_mail:before
        content: 'h'

    ul
      float: right
      margin: 0
      li
        margin-left: 5px
        display: inline-block
        float: left
        line-height: 30px
        &:before
          display: none
        a
          line-height: 30px
          color: $color_font
          font-size: 12px

  #subHeader
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 20px 0

  #brand-logo
    width: 320px
    display: block
    img
      min-width: 80px
      max-width: 320px
      height: auto

  #customer-menu
    position: relative
    height: 65px
    span
      +transition()
    a,
    > button
      background: $color_white
      border: 1px solid
      border-color: $color_lightgray
      display: block
      +transition()
      width: 65px
      height: 65px
      float: left
      position: relative
      margin-left: 20px
      &.menu-item-login:before,
      &.menu-item-cart:before,
      &.menu-item-search:before
        display: block
        width: 65px
        height: 65px
        line-height: 60px
        text-align: center
        content: 'u'
        font-family: 'icon'
        color: $color_font
        font-size: 30px
      &.menu-item-cart:before
        content: 'c'
      &.menu-item-search:before
        content: '+'
      &:hover
        +transition()
        border-color: $color_highlight
        text-decoration: none
        span
          +transition()
          background: $color_highlight
          bottom: -5px
          left: -5px

      &.active
        background: $color_lightgray
        &:before
          color: $color_white
        .count
          color: $color_darkgray
          background: $color_white

      .count
        position: absolute
        top: 5px
        right: 5px
        background: $color_highlight
        color: $color_white
        height: 16px
        width: 16px
        border-radius: 8px
        font-size: 12px
        line-height: 16px
        text-align: center
        display: block
    #search.modal
      top: 65px
      right: 0px !important
      width: 320px
      font-size: 12px
    #login.modal,
    #search.modal
      top: 30%
      left: 50%
      width: 500px
      padding: 20px
      border: 1px solid
      border-color: $color_darkgray
      position: fixed
      transform: translate(-50%, -52%)
      a,
      button
        float: none
        text-align: left
        background: $color_highlight
        display: block
        height: 30px
        font-size: 16px
        width: 100%
        box-sizing: border-box
        padding: 3px 10px
        border-radius: 2px
        color: $color_font
        margin: 5px 0 0 0 !important
        +transition()
        &:hover
          text-decoration: none
          background: $color_highlight
          color: $color_white
          +transition()
      .btn
        padding: 10px
        width: 100%
        margin: 5px 0 0 0
        background: $color_highlight
        color: $color_white
        height: 40px
        line-height: 20px

      fieldset
        background: $color_gray
        //padding-top: 10px
        input
          border: solid 1px lighten($color_font, 40%)
          width: 180px
          background: $color_white
          height: 30px
          float: right
          margin-right: 10px
          margin-top: 5px
          padding: 5px 10px
          box-sizing: border-box
          color: $color_font
          font-size: 12px
        label
          width: 110px
          margin-right: 5px
          display: inline-block
          font-family: 'bold'
          font-size: 14px


header.headline
  margin-bottom: 0
  h1
    padding-top: $grid
    color: $color_font
    font-size: 48px
    margin-bottom: 0
  img
    width: 100%
    height: auto

header.main
  #customer-menu
    #login.modal
      #brand-logo
        margin: 0 !important
        padding: 20px 0
        display: block
        height: auto
        background: none;
        border-width: 0
        img
         margin: 0 auto
      form
        fieldset
          background: none
          width: 300px
          margin: 0 auto
          label
            width: inherit
            margin: 0
            padding: 0
            display: block !important
            float: none
            text-align: left
          input
            float: none
            border-color: $color_lightgray
            height: 45px
            width: 100%
            font-weight: lighter
            background: $color_gray
            margin: 0
        .btn
          width: 300px
          margin: 20px auto !important
          text-align: center
          &:hover
            background: lighten($color_highlight, 10%)
        a
          width: 300px
          margin: 0 auto !important
          background: none
          border: none
          color: $color_highlight
          text-align: center
          &:hover
            color: $color_highlight
            background: none
            text-decoration: underline