.trade-groups
  h2
    margin-bottom: 30px

.trade-groups,
.product-listing
  //background: $color_gray
  padding: 50px 0
  .content
    float: left
    width: 870px
    .card
      box-sizing: border-box
      position: relative
      float: left
      width: 270px
      margin: 0 0 20px 20px
      height: 290px
      img
        width: 100%
        height: auto
        +transition()
      figcaption
        position: absolute
        padding: 15px 20px
        box-sizing: border-box
        height: 50px
        left: 0
        bottom: 0
        background: $color_gray
        min-width: 240px
        +transition()
      &:hover
        img
          filter: contrast(80%)
        +transition()
        figcaption
          +transition()
          bottom: 20px
          strong,
          h2,
          .link
            color: $color_highlight

    strong, h2
      font-size: 16px
      text-align: center
      font-family: 'regular'
      color: $color_font
      display: block
    .link
      display: none
    .preview-btn
      z-index: 2
      position: absolute
      width: 40px
      height: 40px
      top: 0
      right: 0
      +transition()
      border-radius: 0 0 0 20px
      background: rgba($color_white,.2)
      border: solid 1px rgba($color_white, .2)
      border-right: 0
      border-top: 0
      &:before
        display: block
        width: 40px
        line-height: 40px
        text-align: center
        font-size: 30px
        color: $color_white
        font-family: icon
        content: '+'
      &:hover
        text-decoration: none
        border-color: rgba($color_white, .5)
        +transition()
        background: rgba($color_white,.5)
        &:before
          border: none

    a:not(.fresco)
      z-index: 1
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      display: block
      &:hover
        text-decoration: none


  &.full
    .content
      width: 100%
    .card
      width: 23.5%
      margin-left: 2%
      &:nth-child(4n + 1)
        margin-left: 0