#trade-blocks
  padding: $grid 0 30px 0
  background: $color_white
  .card
    float: left
    width: 370px
    margin: 0 20px 50px 0
    box-sizing: border-box
    height: 255px
    color: $color_white
    background: $color_darkgray
    position: relative
    z-index: 0
    &.last-item
      margin-right: 0
    .mask
      overflow: hidden
      height: 255px
      img
        width: 100%
        height: auto
        +transition()
    figcaption
      padding: 90px 25px 20px 25px
      box-sizing: border-box
      position: absolute
      z-index: 1
      left: 0
      right: 0
      bottom: 0
      height: 100%
      background: rgba($color_lightgray, 0.65)
      opacity: 0
      +transition()
    &:hover
      figcaption
        opacity: 1
        +transition()
      h3
        color: $color_highlight
        top: 0
    h3
      z-index: 2
      color: $color_font
      position: absolute
      box-sizing: border-box
      top: -20px
      right: 0
      padding: 20px 25px
      display: block
      font-size: 24px
      margin: 0
      background: $color_gray
      +transition()
    p
      font-size: 18px
      color: $color_white
    a
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 3
      display: block
      &:hover
        text-decoration: none
    &:nth-child(1)
      h3
        color: $color_white
        background: none
        top: 0
        left: 0

      figcaption
        bottom: 0
        background: transparent
        opacity: 1
    &.double
      width: 760px