#upload
  #upload_section
    padding: 50px 0
    form
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-start
      .upload_option
        background: $color_gray
        position: relative
        box-sizing: border-box
        width: 49%
        padding: 20px
        .upload_field
          input
            padding: 0
            margin-bottom: 24px
            width: 100%
          .btn
            margin-left: 0
            min-width: 200px
            background: $color_highlight
            color: $color_white
            border-color: darken($color_highlight, 5%)
            &:before
              color: $color_white
              left: 10px
              top: 0
        h3
          font-family: regular
          padding: 0 0 0 35px
          margin: 0
          width: 100%
          text-align: left
          &:after
            display: none
        &:before
          font-family: 'icon'
          color: $color_font
          font-size: 32px
          top: 15px
          left: 10px
          content: 'p'
          position: absolute
        &#upload_browser:before
          content: 'a'
        &#upload_ftp:before
          content: 'a'
        &#upload_cd:before
          content: 'e'
        &#upload_email:before
          content: 'f'
        &#upload_fotolia:before
          content: 'm'

      .btn.default
        width: 300px
        box-sizing: border-box
        margin: 0

    h1,h2,h3
      font-size: 18px
      margin-bottom: 0
      color: $color_font




.btn.continue
  margin-bottom: 30px

#upload_info
  width: 400px




