#usp-bar
  padding: 70px 0 50px 0
  background: $color_gray

  .usp-parent
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    .usp-child
      display: flex
      flex-direction: row
      align-items: center
      width: 28%
      img
        margin-right: 15px
      .usp-content
        .usp-head
          font-size: 16px
        .usp-text
          line-height: 24px
          font-size: 12px


