{* Datenupload innerhalb der Artikelkalulation: *}
{include file="data/inc.detail/inc.detail.default.inline.upload.preview.htm"}
    <article id="configurator" {*if $aArtikel.artikeltyp == "P"} class="opc"{/if*} {if $aArtikel.grand_gallery == "1"} class="opc"{/if}>
        <h1 headline>{$aArtikel.bezeichnung}{if $aArtikel.artikelnummer}<small>{$aArtikel.artikelnummer}</small>{/if}</h1>
        <img src="image.php?f={$aArtikel.bild}" class="gallery_responsive" />
        <input type="hidden" name="artikelEdit" value="1">
        <input type="hidden" name="datentransfer" value="upload">
        <input type="hidden" name="change" value="change">
        <input type="hidden" name="c" value="{$c}">
        {include file="calculator.htm"}

        {if $aRequest.softproof}
            <img id="opc_image" src="dbmedia/{$printlounge_image}" alt="personalisierter Druckartikel" />
            <a target="_blank" href="{$aRequest.softproof}">Vorschau herunterladen</a>
        <hr />
        {/if}

        {* Klickbare Preisstaffel *}

            {if !$calculator || $nId && $nId > 0 }

                {include file="data/inc.detail/inc.detail.default.varieties.htm"}
                {include file="data/inc.detail/inc.detail.default.quantity.htm"}
                {include file="data/inc.detail/inc.detail.loseblatt.quantity.htm"}
                {if $dataStaffelDetail}
                    {if $aArtikel.seitenanzahl_max_jn == 1}
                        {include file="data/inc.detail/inc.detail.default.price.scaling.clickable.htm"}
                    {/if}
                {/if}
                {if $aArtikel.cad_artikel_jn}
                    {include file="data/inc.detail/inc.detail.cad.htm"}
                {/if}
                <div class="clr"></div>
                {if $aArtikel.bogenartikel_jn}
                    {include file="data/inc.detail/inc.detail.printsheet.measurement.htm"}
                {elseif $aArtikel.ettikettenartikel_jn}
                    {include file="data/inc.detail/inc.detail.etikettenartikel.measurement.htm"}
                {elseif $aArtikel.grossdruck_jn}
                    {include file="data/inc.detail/inc.detail.broadsheet.size.fixed.htm"}
                    {include file="data/inc.detail/inc.detail.broadsheet.size.individual.htm"}
                {elseif $aArtikel.seitenanzahl_max_jn != 1}
                    {include file="data/inc.detail/inc.detail.drucksache.quantity.htm"}
                    {if $dataStaffelDetail}
                        {include file="data/inc.detail/inc.detail.default.price.scaling.clickable.htm"}
                    {/if}
                 {/if}
                <div class="clr"></div>
                {if $aOptionen or $aOptionsDynListe or $aOptionsDyn or $aZusatzfelder or $ARR_OptionsDynListeAbhaengig or $aZusatz}
                    {foreach from=$dataDynOptGruppen item=item_bez key=key_bez}{if !$aArtikel.cad_artikel_jn}
                    <h4>{if $item_bez == ''}{$lang.zusatzoptionen}{else}{$item_bez}{/if}</h4>{/if}
                        {if !$aArtikel.cad_artikel_jn}{include file="data/inc.detail/inc.detail.default.options.dyn-listing-dependency.htm"}{/if}
                        {include file="data/inc.detail/inc.detail.default.options.dyn.htm"}
                        {include file="data/inc.detail/inc.detail.default.options.dyn-listing.htm"}
                    {/foreach}
                {/if}
                {include file="data/inc.detail/inc.detail.default.shopspecificfields.htm"}

                {include file="data/inc.detail/inc.detail.default.delivery.htm"}

                {if $partialDeliveryOnDetailActive}
                    {include file="data/inc.detail/inc.detail.teillieferung.htm"}
                {/if}

                {include file="data/inc.detail/inc.detail.default.payment.htm"}
                {include file="data/inc.detail/inc.detail.default.comments.htm"}
            {/if}
    </article>
