{if $aArtikel.beschreibung || $aArtikel.zus_beschreibung || $aArtikel.zus_infofeld || $aVerwandschaftArtikel}
<section id="product_informations">
    {*############ TAB LABELS ###########*}
    <header>
        {if $aArtikel.beschreibung || $aArtikel.beschreibung_orig }
        <strong class="tab menu-item-1">Beschreibung</strong>
        {/if}
        {if $aArtikel.zus_beschreibung}
        <strong class="tab menu-item-2">Artikelmerkmale</strong>
        {/if}
        {if $aArtikel.zus_infofeld}
        <strong class="tab menu-item-3">Verpackung & Versand</strong>
        {/if}
        {if $aVerwandschaftArtikel}
        <strong class="tab menu-item-4">{$lang.related_products_title}</strong>
        {/if}
    </header>
    <div class="content">
        {*############ TAB CONTENT ###########*}
        {if $aArtikel.beschreibung !== '' || $aArtikel.beschreibung_orig !== '' }
        <article class="tab_content menu-item-1">
            <div class="article_text">
                <h1>{$aArtikel.bezeichnung}{if $aArtikel.artikelnummer}<small>{$aArtikel.artikelnummer}</small>{/if}</h1>
                <p>{if $aArtikel.beschreibung_orig}{$aArtikel.beschreibung_orig}{else}{$aArtikel.beschreibung}{/if}</p>
                {if $aArtikel.info}{$aArtikel.info}{/if}
            </div>
            {if $aArtikel.bild_klein}<img src="image.php?f={$aArtikel.bild_klein}" alt="{$aArtikel.bezeichnung}"  class="img" />{/if}
        </article>
        {/if}
        {if $aArtikel.zus_beschreibung}
        <article class="tab_content menu-item-2">
            {if $aArtikel.artikeltyp == "B"}
            <ul>
                {if $aArtikel.isbn}
                    <li>{$lang.isbn}: {$aArtikel.isbn}</li>
                {/if}
                {if $aArtikel.autor_name}
                    <li>{$lang.autor_name}: {$aArtikel.autor_name}</li>
                {/if}
                {if $aArtikel.autor_date}
                    <li>{$lang.autor_jahr}: {$aArtikel.autor_date}</li>
                {/if}
                {if $aArtikel.autor_ort}
                    <li>{$lang.autor_ort}: {$aArtikel.autor_ort}</li>
                {/if}
                {if $aArtikel.erscheinungsjahr}
                    <li>{$lang.erscheinungsjahr}: {$aArtikel.erscheinungsjahr}</li>
                {/if}
                {if $aArtikel.verlag}
                    <li>{$lang.verlag}: {$aArtikel.verlag}</li>
                {/if}
                {if $aArtikel.genre}
                    <li>{$lang.genre}: {$aArtikel.genre}</li>
                {/if}
                {if $aArtikel.region}
                    <li>{$lang.region}: {$aArtikel.region}</li>
                {/if}
            </ul>
            {if $aArtikel.artikel_leseprobe}{$lang.leseprobe}
                <a class="ds_popup" href="{$aArtikel.artikel_leseprobe.file}" target="_blank">{$aArtikel.artikel_leseprobe.bezeichnung}</a>
            {/if}
                {if $aArtikel.ebook_jn && $aArtikel.ebook_file}
                    {$lang.ebook}
                    <hr />
                    <input type="checkbox" name="ebook_jn" value="1" class="auto-calculation" {if $aRequest.ebook_jn}checked{/if}>{$lang.order_ebook}</a>
                {/if}
            {/if}
            {$aArtikel.zus_beschreibung}
        </article>
        {/if}
        {if $aArtikel.zus_infofeld}
        <article class="tab_content menu-item-3">
            {$aArtikel.zus_infofeld}
        </article>
        {/if}
        {if $aVerwandschaftArtikel}
        <article class="tab_content menu-item-4">
            {include file="data/inc.detail/inc.detail.default.related.articles.htm"}
        </article>
        {/if}
    </div>
</section>
{/if}