{if $sLiefertermin != '' ||  $nGewicht != ''}
<section id="delivery">
    <div class="d_date">
    <strong>Voraussichtlicher Versandtermin</strong>
    <i class="icon"><img src="assets/icon/delivery.png"></i>
    <time>
    {if $sLiefertermin}
        <span class="deliver icon-deliver">{$sLiefertermin}</span>
        <div id="delivery_countdown"></div>
    {else}
        {$aVersand}
    {/if}
    </time>
    </div>
    {if $nGewicht != ''}
    <div class="d_weight">
        <strong>Errechnetes Papiergewicht</strong>
        <i class="icon"><img src="assets/icon/weight.png"></i>
        <span>Exemplar {$nGewicht} KG</span>
    </div>
    {/if}
</section>
{/if}