{if $aArtikel.cad_artikel_jn != 1 || $dataCadFiles}
    {if !$calculator || $nId && $nId > 0}
    <section id="total_block" class="sidebar_right">
        {*Preiskalkulator*}
        {include file="data/inc.detail/inc.detail.default.price.scaling.htm"}
        {include file="data/inc.detail/inc.detail.default.price.calculation.htm"}
        {include file="data/inc.detail/inc.detail.default.actions.send.htm"}
        {include file="data/inc.detail/inc.detail.default.actions.printoffer.htm"}<br />
        {include file="data/inc.detail/inc.detail.default.actions.recommendation.htm"}<br />
        {include file="data/inc.detail/inc.detail.default.actions.sample.htm"}
    </section>
    {else}
        {* STATE: calculator error *}
        <section id="total_block" class="sidebar_right">
            <p class="hint message">Bitte w&auml;hlen Sie ein Produkt aus.</p>
            <button class="btn disabled">{$lang.upload_send}</button>
        </section>
    {/if}
{else}
    <section id="total_block" class="sidebar_right">
        <p class="hint message">Bitte laden Sie eine PDF-Datei hoch.</p>
    </section>
{/if}