.climate
  margin: 0 0 40px 0
  .climateItem
    background: #f7f7f7
    margin-bottom: 20px
    .accContent
      display: none
      margin: 20px
      padding-top: 20px
      border-top: 1px solid #ccc
      li
        margin-left: 20px
        list-style-type: disc
      img
        width: 100%
        height: auto
    .accHead
      display: block
      cursor: pointer
      padding: 10px
      min-height: 110px
      box-sizing: border-box
      .openBtn
        float: left
        margin: 25px 10px 0 5px
        background: #fff
        position: relative
        color: #ccc
        display: block
        border-radius: 50%
        height: 40px
        width: 40px
        &:before
          content: '+'
          position: absolute
          color: #ccc
          display: block
          height: 40px
          width: 40px
          font-size: 30px
          line-height: 40px
          text-align: center
          top: 0
          left: 0
      h3
        color: $color_highlight
        padding: 10px
        margin-bottom: 0
        float: left
      .climateInfobox
        background: #fff
        width: 350px
        float: right
        padding: 5px 10px
        margin: 5px
        border-radius: 5px
        box-sizing: border-box
        span
          width: 180px
          display: inline-block

    .accHead.current
      .openBtn
        &:before
          content: '-'
        +transition()

@media screen and (max-width: 800px)
  .climate
    .climateItem
      .accHead
        .climateInfobox
          float: none
          width: calc(100% - 10px)
        h3
          float: none

.climatePartnerAccount
  span
    display: inline-block
    width: 150px
    font-weight: bold

@media screen and (max-width: 480px)
  .climatePartnerAccount
    span
      display: block
      width: 100%
