@media screen and (max-width: 1024px)

  //#################################################################################Wrapper
  .wrp
    width: 90%

  //#################################################################################Main
  main
    //padding-top: $grid * 2
    .wrp
      box-sizing: border-box
      padding: 0 10px

  //#################################################################################Header
  header.headline
    overflow: hidden
    position: relative
    img
      position: relative
      width: 200%
      left: -50%
      height: auto

  //#################################################################################USP
  #header_usp
    display: none


  #usp-bar i
    padding: 0 10px
    font-size: 16px
    &:before
      height: 40px
      width: 40px
      border: solid 4px rgba(255,255,255,.5)

  //#################################################################################Parallax
  .parallax
    margin-top: 0

  //#################################################################################Sidebar
  section .sidebar
    padding: 0
    width: 100%
    height: auto
    margin-bottom: $grid
    ul
      margin: 0
    li
      float: left
      width: 24%
      margin: 0 1.333333333333333% 1.333333333333333% 0
      &:nth-child(4n+4)
        margin: 0 0 1.333333333333333% 0
      a
        box-sizing: border-box
        height: 80px
        padding: 20px
        line-height: 40px
        background: $color_gray
        border-radius: 0
        border: none
      &.current a:hover
         padding: 20px

  //#################################################################################Trade Groups
  .trade-groups
    padding: 50px 0 30px 0
    .content,
    .product-listing .content
      width: 100%
      float: none

    .content
      .card
        width: 24%
        margin: 0 1.333333% 50px 0
        &:nth-child(4n+4)
          margin: 0 0 50px 0

  //#################################################################################Footer
  footer.main
    > .wrp
      box-sizing: border-box
      padding-right: 20px
      padding-left: 20px
      > nav
        width: 23%
        margin-left: 2%

      > address
        width: 45%
        padding-right: 5%
        .col_left,
        .col_right
          float: none
          display: block
          width: 100%
        nav
          display: none

  #footer-bar
    padding-left: 20px

  //#################################################################################Form
  form h2:after, form h3:after, form h4:after, form h5:after, form h6:after
    width: 175px

  form article
    padding: 20px 10px


  form input:not(.btn),
  form select,
  form .non-input-field,
  form textarea
    width: 240px

  form input[type="checkbox"]
    width: 15px

  form .col-2 input
    width: 115px


  //#################################################################################Misc
  #product-detail
    form
     #detail_infobar
       display: none
     #configurator
       width: 49%
       img
         display: block
     .sidescroller
       width: 49%
       max-width: none !important
     #total_block
       width: 49%

  #product-detail
   h3, h4
     &:after
      width: 100% !important

  .recursive
    &.cat_listing
      .sidebar
        display: none

      .listing
        width: 100%
        float: none

  //########################################################Recursive catlisting
  .cat_listing
    article
      header table,
      .content table
        box-sizing: border-box
        float: right
        margin-left: 0

      header h3,
      .content figure
        font-size: 16px
        width: 35%
        max-width: 35%
        box-sizing: border-box


  //########################################################Data upload
  #order_sample
    form
      article
        width: 55%

      #sidebar
        width: 40%

  //########################################################double col forms
  .btn:not([name="cmd_calc"])
    float: none

  #contact
    .upload_field
      progress,
      .progressBar,
      .btn.upload
        margin: 0

  //#################################################################################Form

  main
    .col_left,
    .col_right
      .info,
      .requirement
        display: none
      input,
      select,
      textarea,
      .non-input-field,
      .btn:not([name=cmd_calc])
        width: 240px

  //#################################################################################Imprint
  #impressum
    address
      width: 40%
      box-sizing: border-box
      padding-left: $grid

    article
      width: 60%
      box-sizing: border-box

  //#################################################################################Trade Blocks
  #trade-blocks
    .card
      width: 30%
      margin-right: 4.8%
      height: 170px
      &.double
        width: 65.1%
      &:last-child
       margin-right: 0
      figcaption
        display: block
        bottom: 0
        padding: 60px 25px 20px 25px
      .mask
        height: 170px
      h3
        padding: 10px 25px
        top: -25px

  //#################################################################################PW Lost
  #pw_lost
    input
      width: 350px

  //#################################################################################upload check
  .actionbar
    padding-right: 10px
    padding-left: 10px

  //#################################################################################cart
  #cart
    span.delete
      margin-top: 10px
      color: $color_error

  #cart_second #formular
    input,
    label,
    .col_right .btn
      width: 100%
      float: none

  #cart,
  #cart_first,
  #cart_second,
  #cart_third
    .actionbar
      button.success,
      .btn.success
        float: right

@media screen and (max-width: 1024px)


  #detail_infobar-opc
    width: 100% !important
    #detail_infobar_gallery
      width: 100% !important
      .gallery_preview
        width: 100% !important
        height: auto


