@media screen and (max-width: 1280px)

  #detail_infobar-opc
    #detail_infobar_gallery
      .gallery_preview
        width: 640px !important
        height: auto

  //########################################################Presets
  main
    .col_left,
    .col_right
      padding: 25px

  .wrp
    width: 980px

  ul
    &.link_list
      li
        padding: 5px
        padding-bottom: 50px
        position: relative
        margin-bottom: 20px
        height: 40px
        a
          padding: 5px
          box-sizing: border-box
          position: absolute
          top: 0
          right: 0
          left: 0
          bottom: 0
          display: block
        .btn
          left: 0
          border-radius: 0 0 3px 3px
          width: 100% !important
          position: absolute
          bottom: -5px

  //########################################################Form Individual
  #form_individual
    .col_left,
    .col_right
      .btn.success
        float: left
        margin-left: 120px

      .btn.success:not([name=cmd_calc])
        width: 245px


  //########################################################Header
  #header_usp img
    margin-right: 10px
    max-width: 170px
    height: auto
  header.main
    #brand-logo
      width: 265px

  //########################################################Trade Groups
  .trade-groups,
  .product-listing
    .content
      width: 700px
      .card
        width: 220px
        height: auto
        margin: 0 0 40px 13px
        figcaption
          bottom: -20px
          min-width: 180px
        &:hover
          figcaption
            bottom: 0
        strong
          font-size: 14px

  //########################################################Trade Blocks
  #trade-blocks
    .card
      width: 313px
      height: 216px
      &.double
        width: 646px
      .mask
        height: 216px
      h3
        font-size: 18px
      p
        font-size: 14px

  //########################################################USP-BAR
  #usp-bar i
    padding: 0 20px
    &:before
      width: 55px
      height: 55px
      font-size: 25px
      line-height: 35px

  //########################################################Category
  .cat_listing
    .listing
      width: 710px
    article
      .content
        figure
          width: 270px
          img
            margin: 3px 0 0 0
          figcaption
            padding: 10px
            margin-bottom: $grid
        table
          width: 437px
          margin-left: 3px
          td
            width: 70px
            &:first-child
              width: 170px
              overflow: hidden
              white-space: nowrap

  //########################################################Detail
  #product-detail
    form
      #configurator
        width: 400px
      #detail_infobar
        width: 250px


  //########################################################Form
  form
    label
      font-size: 14px

    #sidebar
      width: 320px
      input:not([type="checkbox"]),
      .btn,
      .btn:not([name="cmd_calc"])
        width: 100% !important



  #cart_second,
  #contact,
  #address,
  #detail_free,
  #form_individual,
  #account_tracking,
  #finish,
  #crop
    .upload_field input
      margin-right: 0
    .upload_field progress,
    .upload_field .progressBar
      width: 260px
    form
      .btn:not([name="cmd_calc"])
        width: 260px
      fieldset
        input:not([type="checkbox"]),
        select,
        textarea,
        .btn:not([name="cmd_calc"])
          width: 260px
        &.col-2
          input
            width: 125px
        input[type="checkbox"]
          margin-right: 5px
    #crop_coords
      input
        width: 200px
  //########################################################Cart
  #cart
    #sidebar
      display: none
    form
      width: 100%
      float: none
    tbody
      tr th:first-child,
      tr>td:first-child
        width: 400px

      tr th:nth-child(2),
      tr>td:nth-child(2)
        width: 280px

      tr th:nth-child(4),
      tr>td:nth-child(4)
        width: 100px

  #cart #special input,
  #cart_second #special input,
  #cart_third #special input
    width: 330px

  #cart_second #formular
    input,
    .col_right .btn
      width: 220px

  #cart_third_payment
    .col_right
      select.auto-calculate
        width: 100%
      select,
      input
        width: 240px


  //#################################################################################Offcanvas
  #offcanvas
    +transition()
    overflow-y: scroll
    display: block
    position: fixed
    top: 0
    right: -100%
    bottom: 0
    width: 100%
    height: 100%
    background: $color_white
    z-index: 22
    &.active
      +transition()
      right: 0

    header
      background: $color_gray
      position: relative
      height: 80px
      padding: 20px 0
      box-sizing: border-box
      .offcanvas-headline
        display: inline-block
        font-size: 24px
        line-height: 40px
      #offcanvas_close
        border: solid 1px darken($color_highlight, 7%)
        position: absolute
        width: 40px
        height: 40px
        right: 15px
        display: inline-block
        background: $color_highlight
        &:before
          font-family: icon
          color: $color_white
          content: 'x'
        &:hover,
        &.hover
          color: $color_white
          border-color: $color_highlight
          background: lighten($color_highlight, 10%)

    #shortcut_menu
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-bottom: 20px
      .btn
        margin: 0
        border-radius: 0
        width: 33%
        box-sizing: border-box
        height: 80px
        .count
          position: absolute
          top: 5px
          right: 5px
          background: $color_white
          color: $color_highlight
          height: 20px
          width: 20px
          border-radius: 16px
          font-size: 12px
          line-height: 20px
          text-align: center
          display: block

        &:before
          font-family: icon
          font-size: 40px
          line-height: 80px
        &.home
          &:before
            line-height: 70px
            content: url('../assets/icon/home.png')
        &.login
          &:before
            content: 'u'
        &.cart
          &:before
            content: 'c'

    ul
      li
        a
          display: block
          margin-bottom: 2px
          background: $color_gray
          padding: 10px
          height: 20px
          line-height: 20px
          em
            display: none
        > ul
          li
            margin: 0 0 10px 0
          ul
            display: none

    #offcanvas_servicecenter
      li
        margin: 0 0 10px 0

    button
      display: block
      width: 100%
      box-sizing: border-box
      margin-bottom: 2px
      color: $color_white
      border-radius: 3px
      background: $color_error
      padding: 10px
      height: 40px
      line-height: 20px

    h3
      font-size: 18px
      margin: 0 0 22px 0





  //########################################################Imprint
  #impressum
    article
      width: 600px
    address
      width: 360px



  //########################################################Reset
  .align_right.btn
    margin-right: 25px

  //########################################################Main
  main
    .col_right,
    .col_left
      label
        text-align: left
        width: 120px
    select,
    input,
    textarea,
    .btn,
    .btn:not([name="checkbox"]),
    .btn:not([name="cmd_calc"]),
    .non-input-field
      //width: 240px
      min-width: 0px !important


    form
      input[name="cmd_calc"],
      button[name="cmd_calc"],
      .btn[name="cmd_calc"]
        position: absolute
        right: 35px
        border-radius: 2px
        float: right
        width: 40px
        min-width: 40px
        height: 40px
        text-indent: -9999px
  //########################################################Staffelpreise
  #product-detail #bulk
    padding: 0
    text-indent: 5px
    position: static
    display: block
    background: $color_gray
    border-bottom: 0
    height: auto
    border-radius: 4px

    .info
      position: static
      width: 100%
      height: auto
      &:before
        display: none
    //&:hover,
    //&:focus
    .info
      .tooltip
        text-indent: 0
        box-sizing: border-box
        border: none
        padding: 0
        box-shadow: none
        width: 100%
        height: auto
        max-width: 1000px

        position: static
        visibility: visible
        opacity: 1
        >strong:first-child
          display: none

      .col
        width: 50%
        box-sizing: border-box
        padding: 2px

  //########################################################Recursive catlisting
  .cat_listing article
    header
      padding: 0 0 0 20px
      h3
        max-width: 240px
        font-size: 18px
      table
        height: 30px
        border-collapse: separate
        float: right
        width: 440px
        td
          color: $color_font
          height: 30px
          padding: 20px 10px
          font-size: 18px
          //padding: 0 10px
          border-right: solid 6px $color_white
          &:first-child
            width: 230px
          &:nth-child(2)
            width: 80px
          &:nth-child(3)
            width: 149px

  //########################################################Register

  #register
    form
      article
        label
          width: 140px
        select,
        input:not(.btn):not([type="checkbox"])
          width: 240px
        .col-2
          input:not(.btn):not([type="checkbox"])
            width: 115px

  //#################################################################################Newsletter
  #newsletter
    .col_right
      input:not([type="checkbox"]),
      .btn:not([name=cmd_calc])
        width: 240px

      .btn:not([name=cmd_calc])
        float: none
        margin-left: 120px

  //#################################################################################Cart
  #cart_third
    strong
      display: block
      margin-top: 5px
      margin-left: 20px

    td strong
      margin-left: 0
      margin-top: 0