@media screen and (max-width: 360px)
  //#########################################################Tradegroups && Product listing
  .trade-groups.full .card,
  .product-listing.full .card
    width: 100%
    margin-left: 0
    margin-right: 0
    &:nth-child(4n+1)
      margin-left: 0
