@media screen and (max-width: 400px)


  //############################################################Presets
  body
    padding-top: 80px

  //############################################################Header
  header.main
    #brand-logo
      margin-top: 5px
      width: auto
      max-width: 150px
      height: auto
      max-height: 40px
      img
        width: 100%
        height: auto

  #offcanvas_open
    top: 18px
    right: 30px

  //############################################################Slider
  #slider
    .slide
      figcaption
        height: 100%
        .textArea
          background: rgba(60, 60, 60, 0.6);
          margin-top: 40px
          width: 100%
          max-width: unset

  //############################################################Trade Blocks
  #trade-blocks
    .card,
    .card.double,
    .card.last-item
      float: none
      width: 100%
      height: auto

      img
        position: static
        width: 150%
        height: auto

    .card
     &:first-child
      figcaption
       padding: 50px 25px 20px 25px

  //#########################################################Trade Groups
  .trade-groups
    .sidebar
      ul
        li
          width: 100%
          margin: 0 0 2% 0
          &:nth-child(3n+3)
            margin: 0 0 2% 0
    .content
      .card
        width: 100%
        margin: 0 0 40px 0
        &:nth-child(2n+2)
          margin: 0 0 40px 0
        &:nth-child(3n+3)
          margin: 0 0 40px 0

  //#########################################################Tradegroups && Product listing
  #related
    .item
      width: 100%

  #product-detail
    form
      #configurator
        h1
          margin: 0
        img
          width: 100%

  #product_informations
    header
      top: 0
      flex-direction: column
      position: relative
    .content
      padding: 20px