@media screen and (max-width: 500px)

  //#################################################################################Offcanvas
  #offcanvas_open
    right: 35px

  //#################################################################################Misc
  .leadprint-brand
    display: none

  .breadcrumb
    margin: 0
    li a
      padding: 5px
      font-size: 13px

  #configurator h1
    padding: 10px
    small
      margin: 0
      display: block

  #cart_second,
  #contact,
  #address,
  #detail_free,
  #form_individual,
  #account_tracking,
  #finish,
  #crop
    form
      .btn:not([name="cmd_calc"])
        width: 100%
      fieldset
        input:not([type="checkbox"]),
        select,
        textarea,
        .btn:not([name="cmd_calc"])
          width: 100%

  form
    label
      text-align: left
      float: none
      width: 100%
    h2, h3, h4, h5, h6
      padding: 5px 0
      text-align: left
      width: 100%
      &:after
        display: none

    input:not([type="checkbox"]):not(.btn),
    select,
    .non-input-field,
    textarea
      float: none
      width: 100%

    table
      tr td
        font-size: 14px
        padding: 5px 0
        display: block
        width: 100%
        float: none
        &:first-child
          color: lighten($color_font, 20%)
          font-family: bold

  main form
    button[name="cmd_calc"],
    .btn[name="cmd_calc"]
      top: 42px
      right: 0

  #product_informations
    header
      top: -40px
      .tab
        float: none
        width: 100%
        border-bottom: solid 1px darken($color_gray, 10%)
        &.current
          color: $color_white


  //########################################################double col forms
  #cart_second,
  #contact,
  #detail_free,
  #account_tracking,
  #finish,
  #register,
  #crop,
  #address
    form

      .btn:not([name="cmd_calc"])
        margin-left: 0
        margin-right: 0
        float: none

  //#################################################################################form

  form
    >.btn:not([name="cmd_calc"]),
    article .btn:not([name="cmd_calc"]),
    >section:not(#total_block)>.btn:not([name="cmd_calc"])
      width: 100%

  main
    .col_left,
    .col_right
      label
        width: 100%
      input,
      select,
      textarea,
      .non-input-field,
      .btn:not([name=cmd_calc])
        width: 100%

  //########################################################form individual
  #form_individual
    .col_left,
    .col_right
      .btn.success
        margin-left: 0

  //#################################################################################address
  #address
    form
      article
        .btn:not([name="cmd_calc"])
          margin-left: 0



  //#########################################################detail_free && contact
  #detail_free,
  #contact
    form article
      .btn:not([name="cmd_calc"])
        margin-left: 0


  //#########################################################cart - first
  #cart
    overflow-x: hidden
    tbody
      tr td
        line-height: 20px
        padding: 0 5px

    .product_calculation
      position: relative
      td
        strong
          position: absolute
          font-size: 16px
          right: 10px
          top: 3px
        h3
          font-size: 16px

  #cart_first,
  #cart_second,
  #cart_third
    tbody
      width: 100%
      display: block
      tr
        width: 100%
        display: block

    tbody tr th
      display: none !important
    tbody tr th:first-child,
    tbody tr th:nth-child(2),
    tbody tr th:nth-child(3),
    tbody tr th:nth-child(4),
    tbody tr>td:first-child,
    tbody tr>td:nth-child(2),
    tbody tr>td:nth-child(3),
    tbody tr>td:nth-child(4)
      display: block
      border: none
      margin: 0
      width: 100% !important

  //#################################################################################cart
  #cart

    .product_calculation
      td:nth-child(3)
        &:before
          content: '> '

        &:after
          content: ' <'

  //#################################################################################Footer
  footer.main>.wrp>
  nav
    padding: 0
    width: 100%
    float: none
    margin-bottom: $grid
    address
      .col_left,
      .col_right
        margin-bottom: $grid