@media screen and (max-width: 600px)

  //#################################################################################Presets
  section .sidebar li
    width: 50%

  h1,h2,h3,h4,h5,h6
    font-size: 18px

  //########################################################Data upload
  #upload
    input[type="file"]
      width: 100%

    .upload_option
      p
        width: 100%
        float: none
      .btn.default
        font-size: 14px
        width: 100%
        float: none

    .upload_field
      .btn
        font-size: 14px
        width: 100%
        float: none


  #slider
    .slide
      img
        right: 160%
      figcaption
        .textArea
         width: 100%
         max-width: 70%
  //########################################################Sidebar
  section
    .sidebar
      ul
        li
          width: 49%
          &:nth-child(2n +2)
            margin: 0 0 2% 0
          &:nth-child(3n +3)
            margin: 0 2% 2% 0
          &:last-child
            margin: 0 0 2% 0

  //########################################################Trade Groups
  .trade-groups
    .content
      .card
        width: 49%
        margin: 0 2% 6% 0
        &:nth-child(2n +2)
          margin: 0 0 6% 0
        &:nth-child(3n+3)
          margin: 0 2% 6% 0
        &:last-child
          margin: 0 0 2% 0

  //########################################################Trade Blocks
  #trade-blocks
    .card
      h3
        font-size: 18px
      .mask
        height: 120px
      figcaption
        opacity: 0

  //#################################################################################PW Lost
  #pw_lost
    label,
    input,
    form>.btn:not([name="cmd_calc"])
      margin-left: 0
      margin-right: 0
      width: 100%
      text-align: left

  //#################################################################################upload check
  #uploadcheck
    #upload_data
      h3
        font-size: 18px
        padding: 5px
    #upload_actions
      .btn
        float: none
        width: 100%
        margin-left: 0
      .btn:first-child
        margin-bottom: $grid

  //#################################################################################upload check
  .actionbar
    .btn
      float: none
      width: 100%
      margin-left: 0
    .btn:first-child
      margin-bottom: $grid

  //#########################################################cart - first
  #cart
    #total_price
      strong
        font-size: 14px

  .btn.edit
    right: 10px
    top: 25px

  #detail_infobar-opc
    #detail_infobar_gallery
      display: none
  #configurator
    &.opc
      width: 100% !important


  //#########################################################cart - second
  #cart_second
    #formular
      .cart_login
        .col_left, .col_right
          .btn, input
            width: 100%


  //#################################################################################register
  #register
    form
      article
        label
          width: 100%
        input:not(.btn):not([type="checkbox"]),
        select
          width: 100%
        .col-2
          input:not(.btn):not([type="checkbox"]),
           &:nth-of-type(1)
            width: 37%
            float: left
           &:nth-of-type(2)
             width: 57%
             float: right


  .form_billing-address
    flex-direction: column

  #cart_second,
  #contact,
  #detail_free,
  #account_tracking,
  #finish,
  #register,
  #crop
    form
      fieldset
        width: 100%
        input
             width: 100% !important

  #product_informations
    header
     .tab
      font-size: 14px

  footer.main
    .footer-parent
      address, nav
        .headline
          font-size: 18px
          margin-bottom: 22px
        .address-parent
          flex-direction: column