@media screen and (max-width: 736px)

  //#################################################################################Configurator
  #configurator
    &.opc
      width: 100% !important

  //#################################################################################USP
  #usp-bar
    .usp-parent
      flex-direction: column
      .usp-child
        width: 100%
        margin-bottom: 30px
        &:last-child
          margin-bottom: 0