@media screen and (max-width: 767px)

  //#################################################################################Servicebar

  #service-bar
    display: none

  //#################################################################################Presets
  main
    padding-top: 0

  body
    padding-top: 80px

  h1,h2,h3
    margin-bottom: 22px

  //#################################################################################Header
  header.main
    position: fixed
    left: 0
    top: 0
    right: 0
    box-shadow: 0 0 2px rgba(0,0,0,.2)
    z-index: 20
    background: $color_white
    height: 80px


  header.main #customer-menu,
  #navbar
    display: none

  #offcanvas_open
    display: block
    width: 40px
    height: 40px
    border-radius: 4px
    position: fixed
    top: 20px
    right: 45px
    background: $color_gray
    z-index: 21
    &:before
      content: 'q'
      font-size: 30px
      line-height: 40px
      font-family: icon


  //#################################################################################Trade-Blocks
  #trade-blocks .card
    img
      width: 150%
      left: -25%
    &:hover img
      width: 160%
      left: -30%

  //#################################################################################Form
  form
    .info,
    .requirement
      display: none

    article,
    #sidebar
      width: 100%
      float: none

  #product-detail
     form
      flex-direction: column
      #configurator
        width: 100%
        margin-bottom: 25px
      .sidescroller
        width: 100%
      #total_block
        width: 100%
        margin-bottom: 0
        br
          display: none



  #product_informations .tab
    font-size: 13px
    padding: 10px


  //#################################################################################Detail
  #product-detail
    #delivery
      flex-direction: column
      .d_date, .d_weight
       width: 100%
      .d_date
        margin-bottom: 25px
        .icon
          top: 50px
      .d_weight
        .icon
          top: 25px

  #product_informations
    .tab_content
      img
        display: none

  //#################################################################################Imprint
  #impressum
    address,
    article
      width: 100%
      float: none
      padding-left: 0

  //#################################################################################Cart Breadcrumb
  .breadcrumb
    background: $color_gray

  #cart
    margin: 30px auto

  #cart_second
    #formular
      .cart_login
        flex-direction: column-reverse
        .col_right
         margin-bottom: 20px

  .cart_breadcrumb
    ul
      flex-direction: column
      li
        width: 100%
        padding: 20px 30px
        border-bottom: 3px solid
        border-color: $color_white
        &:first-child
          padding: 20px 30px
        &:after
          background: none
          height: 25px
          width: 25px
          top: 49px
          right: 47%
          transform: rotate(135deg)



  #product-detail
    #bulk
      display: none

  #related
    .item
      width: 50%

  #product-detail
    #detail_infobar-opc
      #detail_infobar_gallery li
        height: 40px
        img
          height: 40px