@media screen and (max-width: 768px)

  //########################################################Recursive catlisting
  .cat_listing
    article
      header table,
      .content table
        width: 100%
        float: none

      header h3,
      .content figure
        float: none
        width: 100%
        max-width: 100%

      header
        padding: 10px
        table
          display: none
        h3
          padding: 0
          display: inline

      .content
        margin-bottom: $grid

  main
    .col_left,
    .col_right
      padding: 20px
      margin-left: 0
      float: none
      width: 100%

  //########################################################Data upload
  #order_sample
    form
      article,
      #sidebar
        width: 100%
        float: none

  //#################################################################################cart
  #cart_third
    strong
      display: block
      margin-top: 10px
      margin-left: 30px

  #cart #special,
  #cart_second #special,
  #cart_third #special
    input
      width: 100%

    button
      position: absolute
      right: 0
      top: 2px

  #configurator
    &.opc
      width: 65% !important
