@media screen and (max-width: 800px)


  //########################################################Sidebar
  section .sidebar
    ul
      li
        width: 32%
        margin: 0 2% 2% 0
        &:nth-child(3n+3)
          margin: 0 0 2% 0
        &:nth-child(4n+4)
          margin: 0 2% 2% 0
        a
          box-sizing: border-box
          height: 80px
          padding: 20px
          line-height: 40px
          background: $color_gray
          border-radius: 0
          border: none
        &.current a:hover
          padding: 20px

  //########################################################Trade-Groups
  .trade-groups
    padding: 50px 0
    .content,
    .product-listing .content
      width: 100%
      float: none

    .content
      .card
        height: auto
        width: 32%
        margin: 0 2% 6% 0
        &:nth-child(3n+3)
          margin: 0 0 6% 0
        &:nth-child(4n+4)
          margin: 0 2% 6% 0

        &:nth-child(3n+3)
          margin-right: 0
        figcaption
          width: calc(100% - 30px)
          bottom: -15px
          position: absolute

  //########################################################Trade-Blocks
  #trade-blocks
    padding: 25px 0 50px 0
    .card
      width: 100%
      height: auto
      margin: 0 0 50px 0
      &.double
        width: 100%
      figcaption
        transition: none
        opacity: 1
        padding: 40px 20px 20px 20px
      &:nth-child(1)
        figcaption
          padding: 70px 25px 20px 25px
      &.last-item
        figcaption
         opacity: 0
      &:last-child
        margin: 0

  //########################################################Parallax
  .parallax
      display: none

  //########################################################Data upload
  #upload
    #upload_section
      form
        flex-direction: column
        .upload_option
          width: 100%
          &:first-child
           margin-bottom: 20px


  //#################################################################################form
  form
    >.btn:not([name="cmd_calc"]),
    article .btn:not([name="cmd_calc"]),
    >section:not(#total_block)>.btn:not([name="cmd_calc"])
      margin-left: 0

  //#################################################################################address
  #address
    form
      article
        .btn:not([name="cmd_calc"])
          margin-left: 185px

  //#########################################################detail_free && contact
  #detail_free,
  #contact
    form article
      .btn:not([name="cmd_calc"])
        margin-left: 185px

  #contact
    .col_right
      width: 100%
    .col_left
      width: 100%
    .upload_field
      progress,
      .progressBar
        float: left
        width: 100%
        margin: 20px 20px 0 0px
      input
        float: left
        margin-right: 80px
      .btn.upload
        float: left
        clear: both
        margin-top: 20px

  //#########################################################Pagination
  .pagination a,
  .pagination .current
    margin-bottom: 10px

  //#################################################################################Newsletter
  #newsletter
    .col_right
      input:not([type="checkbox"]),
      .btn:not([name=cmd_calc]),
      .non-input-field,
      label
        width: 100%

      .btn:not([name=cmd_calc])
        float: none
        margin-left: 0
        margin-right: 0
        width: 100%

  //#################################################################################PW Lost
  #pw_lost
    form>.btn:not([name="cmd_calc"])
      margin-left: 185px

  //#################################################################################upload check
  #uploadcheck

    #upload_actions
      .btn
        float: left
        width: 49%
        margin-left: 2%
      .btn:nth-of-type(1)
        float: left
        margin: 0

  //#########################################################cart
  .cart_breadcrumb li
    font-size: 14px

  //#########################################################cart - third
  #cart_third_agb
    fieldset
      font-size: 14px
      line-height: 20px
      margin-bottom: 10px
      padding-left: 25px
      position: relative
      input[type="checkbox"]
        position: absolute
        left: 0
        top: 0
        margin-top: 5px
      label
        width: auto
        padding: 0

  //#########################################################Footer
  footer.main
   .footer-parent
     flex-direction: column
     address, nav
       width: 100%
       margin-bottom: 30px
       &:nth-child(3)
         margin-bottom: 0
       li
         &:last-child
           margin-bottom: 0
       .address-parent
         display: flex
         flex-direction: row
         justify-content: space-between

     nav
      ul, #footer-product-nav
         max-height: none
         overflow: visible
         margin-bottom: 0
         li
           margin-bottom: 10px
           &:last-child
             margin-bottom: 0
           a
             border: 1px solid
             border-color: $color_lightgray
             background: $color_white
             padding: 10px
             &:after
               top: 10px
               right: 10px
             &:last-child
               border: 1px solid
               border-color: $color_lightgray