@media screen and (max-width: 900px)


  #page
    padding-top: $grid*2


  //########################################################Data upload
  #order_sample
    form
      article
        width: 65%

  form
    article
      width: 65%

  //########################################################Summary
  #summary
    form article
      width: 100%

  //########################################################Form Individual
  #form_individual
    .col_left,
    .col_right
      label
        width: 100%
        float: none

      .btn.success
        margin-left: 0

  //##################################################Trade Blocks
  #trade-blocks .card
    width: 32%
    margin-right: 1.999995%
    height: 170px
    &.double
      width: 65.999995%

  //##################################################Trade Groups
  .trade-groups
    .content
      .card
        figcaption
          width: calc(100% - 20px)
          min-width: unset
          bottom: -20px
          h2
            font-size: 14px

  //#################################################################################Newsletter
  #newsletter
    .col_right
      input:not([type="checkbox"]),
      .btn:not([name=cmd_calc]),
      .non-input-field
        width: 200px

  //#################################################################################Cart
  #cart #special input,
  #cart_second #special input,
  #cart_third #special input
    width: 240px

  .cart_breadcrumb
    li
      &:after
        height: 50px
        width: 50px
        top: 9px
        right: -25px

  //#################################################################################Slider
  #slider
    height: 320px
    .slide
      overflow: hidden
      img
        width: inherit
        right: 50%
      figcaption
        bottom: 0
    .side-nav
     &.slide-left
      right: 60px
     &.slide-right
      right: 10px

  #usp-bar
    padding: 50px 0 50px 0

  //#################################################################################Parallax
  .parallax
    figcaption
      .textArea
        width: 65.999995%


