//########################################################################################################################Mixins
=transition( $attr: all, $time: 0.15, $easing: ease-in-out )
  -webkit-transition: $attr $time+s $easing
  -moz-transition: $attr $time+s $easing
  transition: $attr $time+s $easing

=position($top: auto, $right: auto, $bottom: auto, $left: auto)
  top: $top
  right: $right
  bottom: $bottom
  left: $left