@import settings
@import functions
@import template


#creator
  margin-bottom: $grid

.wrp
  width: 980px
  margin: 0 auto

header.main
  height: 130px
  #service-bar
    background: $color_gray
    height: 30px
  #brand-logo
    margin-top: 15px
    clear: both
    width: 320px
    margin-right: 20px
    display: block
    float: left

#navbar
  background: $color_highlight
  color: $color_white
  height: 50px
  position: static
  box-sizing: border-box
  margin-bottom: $grid

#footer-bar
  background: $color_highlight
  height: 50px
  .wrp
    font-size: 12px
    color: $color_white
    line-height: 50px

#totop
  left: 0
  right: 0
  -webkit-transform: translate3d(0,0,0)
  -moz-transform: translate3d(0,0,0)
  -ms-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
  will-change: bottom
  height: 50px
  position: fixed
  bottom: -50px
  +transition()
  &.active
    will-change: bottom
    +transition()
    bottom: 0
  a
    float: right
    display: block
    height: 50px
    width: 50px
    &:before
      display: block
      width: 50px
      height: 50px
      text-align: center
      line-height: 50px + 10px
      font-size: 30px
      font-family: 'icon'
      content: 't'
      color: $color_white
      +transition()
      background: lighten($color_highlight, 25%)
    &:hover
      text-decoration: none
      &:before
        +transition()
        background: darken($color_highlight, 10%)

#creator_product-headline
  display: block
  //-webkit-transform: rotate(-10deg)
    -moz-transform: rotate(-10deg)
    -ms-transform: rotate(-10deg)
    transform: rotate(-10deg)
  font-size: 34px
  margin-top: 28px
  color: $color_white
  float: right
  color: $color_font
  //text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15)

#payment-bar
  background: $color_white
  padding: $grid 0
  h3
    margin: 0
    font-size: 24px
    color: $color_highlight
    float: left
    width: 20%
  img
    float: left
    width: 10%
    margin: 0 1.666666%