//Sheet for mobile landing pages
$c_highlight: #3984b8
$c_prime: #3c494d
$c_success: #2ac266
$c_dark: #2e3233
$c_white: #fff

*
  padding: 0
  margin: 0
  border: none
  text-decoration: none
  font-weight: normal
  font-style: normal
  list-style: none
  font-family: 'roboto', 'Helvetica', sans-serif
  color: $c_dark

#mobile
  background: #f0f0f0

  .clr
    clear: both

  img
    display: block
    line-height: 0
    vertical-align: middle

  h1
    background: $c_white
    padding: 22px 0
    margin: 0 auto 44px auto
    img
      max-width: 280px
      min-width: 120px
      margin: 0 auto
      height: auto

  hr
    border-bottom: solid 1px $c_prime
    margin: 44px 0

  p
    font-size: 18px
    line-height: 22px
    margin-bottom: 44px

  article
    background: $c_white
    box-sizing: border-box
    margin: 0 44px 44px 44px
    padding: 50px 20px
    border-bottom: solid 2px #e0e0e0

  #introduction
    float: left
    width: 50%

  #cta
    float: right
    width: 320px
    padding: 22px 44px 0 44px
    #cta_submit
      display: block
      cursor: pointer
      background: $c_success
      border: solid 1px darken($c_success, 5%)
      text-align: center
      color: $c_white
      padding: 10px
      border-radius: 33px
      width: 320px
      margin: 0 auto
      font-size: 18px
      &:hover, &:focus
        background: darken($c_success, 5%)
    a
      text-align: center
      display: block
      background: $c_highlight
      border: solid 1px darken($c_highlight, 5%)
      box-sizing: border-box
      color: $c_white
      padding: 10px
      border-radius: 93px
      margin: 44px 0 0 0
      &:hover, &:focus
        background: darken($c_highlight, 5%)
      &.phone
        margin-right: 0

  footer
    padding: 44px
    background: $c_prime
    a
      color: $c_white
    address
      color: $c_white

@media screen and (max-width: 990px)
  #mobile #introduction
    float: left
    width: 40%

@media screen and (max-width: 880px)
  #mobile
    #introduction,
    #cta
      box-sizing: border-box
      float: none
      width: 100%
      a
        margin-bottom: 22px
    #cta
      padding: 44px 44px 0 44px

@media screen and (max-width: 580px)
  #mobile
    padding-top: 20px
    h1
      margin-bottom: 22px
    article
      margin: 0 8px 22px 8px
    footer
      padding: 22px 28px
    #cta
      padding: 0 0 22px 0
      #cta_submit
        width: 100%
        max-width: none
        margin-top: 44px
        margin-bottom: 22px
      a
        margin-top: 22px