/**** upload.htm - Multiuploader - 20160907 *****/
#upload_section .btn {position: relative;display: inline-block; min-width: 120px;}
#upload #upload_section .btn.continue {float: right;width: 200px;}
#upload #upload_section .template-download .buttons, #upload #upload_section .template-upload .buttons {float: right;}
#upload #upload_section .template-download .buttons a.btn, #upload #upload_section .template-upload .buttons a.btn { float: left; margin-right: 5px;}
#upload #upload_section .template-download > div, #upload #upload_section .template-upload > div {float: left;}
#upload #upload_section .template-download .file_info, #upload #upload_section .template-upload .file_info { margin-left: 10px;}
#upload #upload_section .template-upload .file_info { margin-left: 10px;}
#upload #upload_section .template-upload > div { float: left;}
#upload #upload_section .template-download, #upload #upload_section .template-upload {clear: both;height: 100px;}
#upload #upload_section .progressBar {margin-bottom: 15px}
/**** Textareas ****/
form textarea { white-space: pre-wrap; height: 90px }
/**** Artikeltexte (inc.detail.text.htm) ****/
.detail_text h1, .detail_text h2, .detail_text h3, .detail_text h4{ margin-bottom: 18px; }
.detail_text .description_article { background: #fff; padding: 15px; border-left:5px solid #e2e2e2;border-right:1px solid #e2e2e2; margin-bottom: 25px}
.detail_text .description_article .col {width: 100%;column-count: 3;column-rule-color: #e2e2e2;column-rule-width: 1px;column-rule-style: solid; column-gap: 30px; -moz-column-width: 100%; -webkit-column-width: 100%;}
@media screen and (max-width: 786px) {.detail_text .description_article .col {  column-count: 2; }}
@media screen and (max-width: 665px) {.detail_text .description_article .col {  column-count: 1 !important; }}
/*** Breadcrumbs ***/
.breadcrumb li a, #navbar .service-menu div { display: inline-block}
/*** Durchsuchen Buttons ***/
#upload_section form input:not(.btn),
#upload_section form select,
#upload_section form .non-input-field,
#upload_section form textarea { height: auto}
/*** IconFont Fix Upload IE ***/
#upload .upload_option::before {display:block;}
#modal-text img {max-width: 100%; height: auto !important;}
#account_tracking hr { margin: 10px 0}
/*** CAPTCHA***/
#captcha { padding-top: 15px; float: left}
#navbar.sticky {z-index:5}
.trade-groups .card .preview-btn:before, .product-listing .card .preview-btn:before { z-index: 1}
#product-detail #detail_infobar-opc { margin-bottline-height: 22px !important;margin-bottom: 10px;}
/*** Auftragssuche ****/
form#tracking_search button[name="cmd_calc"] { margin-bottom: 0px; position: relative; right:0px; float: none;}
form#tracking_search .col_right .buttonWrapper > .btn { width: 47.5%; margin-bottom: 0; }
form#tracking_search .col_right .buttonWrapper > .btn:first-of-type { margin-right: 5%; }
/*** CMS Themenseiten ****/
#upload .cms .upload_option:before { content: none !important;}
#upload .cms .upload_option { padding-left: 20px;}
#orders.cms a { padding: 15px;}
#orders.cms article img {float: left; margin:0 15px 0 0;max-width: 100%; height: auto}
#orders.cms a strong { margin-left: 0; display: block; float: none; line-height: normal; margin-bottom: 10px;}
#orders.cms a em { line-height: 1.6em; display: block}
/*.menu-item-login.login_status_red:after{ content: 'x'; background-color: indianred; position: absolute; width: 16px; height: 16px; border-radius: 50%; color: #fff; top: 5px; right: 5px; text-align: center;  line-height: 15px;}*/
.menu-item-login.login_status_green:after{ content: '\00bb'; background-color: #69ca00; position: absolute; width: 16px; height: 16px; border-radius: 50%; color: #fff; top: 5px; right: 5px; text-align: center;  line-height: 15px;}
.menu-item-cart {box-sizing:border-box;text-align:center;}
.menu-item-login span,
.menu-item-cart span  {font-size: 10px; left: 0; bottom: 0; width: 100%; position: absolute;background-color:#b5b3b1;color:#ffffff;}
.modal.creator {  position: fixed; width: 96vw; max-width: 90vw; height: 96vh; top: 2vh; left: 50%; margin-left: -45vw; overflow-y: auto; overflow-x: hidden; box-sizing: border-box; padding: 10px;
    border: 10px solid #fff; box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25); z-index: 28;}
#ds_popup_overlay { z-index: 21}
#ds_popup { z-index: 21}
.rwd-table { margin: 1em 0; min-width: 300px;}
.rwd-table tr { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.rwd-table th {display: none;}
.rwd-table td { display: block;}
.rwd-table td:first-child { padding-top: .5em;}
.rwd-table td:last-child { padding-bottom: .5em;}
.rwd-table td:before { content: attr(data-th) ": "; font-weight: bold; width: 6.5em;    display: inline-block;
}
@media (min-width: 480px) {.rwd-table td:before {display: none;}}
.rwd-table th, .rwd-table td {text-align: left;}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}
.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}
.rwd-table tr {
    border-color: #46637f;
}
.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}
@media screen and (max-width: 665px) {
    form fieldset { line-height: 22px !important;}
    form input[type="checkbox"] {margin-top:1px;}
}
@media screen and (max-width: 599px) {
    #ds_popup { overflow: scroll; top:55px; left:2vw; margin: 0 !important; width: 96vw; height:96vw; min-width:96vw; max-width: 96vw; min-height: 80vh; max-height:80vh; position: fixed; box-sizing: border-box; z-index: 22}

    #popup_recommend  label { width:30% !important; line-height: 25px; font-size: 12px;}
    #popup_recommend  input:not(.btn),#popup_recommend select,#popup_recommend .non-input-field,#popup_recommend  textarea { width:50% !important}
    #popup_recommend .btn:not([name="cmd_calc"]){margin-left: 0}
    #popup_recommend  input:not(.btn) { height: 25px;}
    #popup_recommend  textarea { height: 50px;}
    #popup_recommend  fieldset {margin-bottom: 0px !important;}
    #popup_recommend p { font-size: 12px !important}
    #popup_offer h1, #popup_recommend h1 { margin-bottom: 14px; font-size: 18px;}
}
@media screen and (max-width: 420px) {
    #orders.cms article img {margin-bottom: 15px;}

}

@media screen and (max-width: 400px) {
    #popup_recommend  label { width:40% !important;}
    #popup_recommend  input:not(.btn),#popup_recommend select,#popup_recommend .non-input-field,#popup_recommend  textarea { width:50% !important}
    form > .btn:not([name="cmd_calc"]) {width:100%}
}
/*** delete_contact_person ****/
@media screen {
    #delete_contact_person {
        top: 30%; left: calc(50% - 180px); width: 380px;
        padding: 20px 20px 10px 20px;
        box-sizing: border-box;
    }

    #delete_contact_person .modal-title {
        color: #696969;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        padding: 2px 16px;
    }

    #delete_contact_person .modal-content {
        overflow: hidden;
        padding: 0; border: 0; box-shadow: none;
    }

    #delete_contact_person .modal-header,
    #delete_contact_person .modal-footer {
        background: #fff;
    }

    #delete_contact_person .modal-footer  {
        text-align: right;
    }
}
/* contactlist */
@media screen {
    #contactlist > .btn.newAdress { position: absolute; top: 0; right: 0;}
    #contactlist > form {
        padding: 10px; box-sizing: border-box;
        background: #fff; }
    #contactlist > form.addHeight { padding-top: 25px; margin-top: 25px; }
    #contactlist > form > table tr,
    #contactlist > form > table th,
    #contactlist > form table td {
        width: auto;
        text-align: left;
    }
    #contactlist > form table tbody tr:nth-of-type(odd) { background: #f7f7f7;}
    #contactlist > form table thead tr td {
        font-family: bold;
        font-weight: 300;
        font-size: 18px;
        text-align: left;
        padding: 10px;
        color: #696969;
    }
    #contactlist > form table tbody tr td { padding: 5px 10px; }
    #contactlist > form table tbody tr td a:last-of-type { color: #8C3531; }
    #contactlist > form fieldset {
        float: left;
        width: 50%;
    }
    #contactlist > form fieldset.saveSettings {
        padding: 30px 30px 0 0; box-sizing: border-box;
        float: right;
        text-align: right;
    }
}
@media screen and (max-width: 1280px) {
    #contactlist > form fieldset.saveSettings { padding-right: 35px; }
    #contactlist > form fieldset label { text-align: left; }
}
@media screen and (max-width: 1023px) {
    #contactlist > .btn.newAdress { right: 10px;}
    #contactlist > form fieldset { width: 100%; float: none; }
    #contactlist > form fieldset.saveSettings {
        padding: 30px 0 0 185px;
        float: none;
        text-align: left;
    }
}
@media screen and (max-width: 767px) {
    #contactlist > form table thead { display: none; }
    #contactlist form table tr td {
        font-size: 14px;
        padding: 5px 0;
        display: block;
        width: 100%;
        float: none;
    }
    #contactlist form table tr td:first-child {
        color: #9c9c9c;
        font-family: bold;
    }
    .modal.creator {margin-top:55px}
}
@media screen and (max-width: 501px) {
    #contactlist > .btn.newAdress { position: relative; top: inherit; right: inherit;}
    #contactlist > form fieldset.saveSettings { padding: 30px 0 0 0; }
}
@media screen {
    #cart_third_payment .col_left select+.info { display: none; }
    #cart tbody tr.selectShipping  > td:nth-child(2) { padding: 0;  }
    #cart .selectShipping td select { width: 100%; height: auto;  margin: 5px 0; padding: 5px;  }
}
#preloader { right: 0; bottom: 0; display: none; position: fixed; width: 100%; height: 100%; padding: 0; background: rgba(0, 0, 0, 0.3); z-index: 10; }
#preloader.active { display: block; }
#preloader .anim.loading { right: 48%; top: 50%; width: 60px; height: 60px; border: solid 5px #5e5e5e; border-bottom-color: #fff; }
/* teillieferung */
@media screen {
    #cart_teillieferung > .fullwidth {
        width: 100%;
    }
    #cart_teillieferung .headlineWrapper { position: relative; }
    #cart_teillieferung .headlineWrapper > .headline {
        font-size: 16px; font-weight: 700;
        margin-bottom: 0;
    }
    #cart_teillieferung .headlineWrapper > .btn.edit { top: -2px; }
    #cart_teillieferung .inputWrapper > .col_left,
    #cart_teillieferung .inputWrapper > .col_right { min-height: 125px; }
    #cart_teillieferung .inputWrapper > .col_left > label.selectlabel,
    #cart_teillieferung .inputWrapper > .col_right > label.selectlabel {
        width: 100%;
        text-align: left;
        float: none;
    }
    #cart_teillieferung .inputWrapper > .col_left > .select,
    #cart_teillieferung .inputWrapper > .col_right > input {
        display: block;
        width: 100%;
        float: none;
    }
    #cart_teillieferung .inputWrapper > .col_left > span,
    #cart_teillieferung .inputWrapper > .col_right > span {
        display: block;
        margin: 10px 0;
    }
    #cart_teillieferung .inputWrapper > .col_left > .headline,
    #cart_teillieferung .inputWrapper > .col_right > .headline {
        font-size: 16px; line-height: 24px; font-weight: 700;
        margin: 24px 0 24px 0 ;
    }
    #cart_teillieferung fieldset {
        float: left;
        width: 50%;
    }
    #cart_teillieferung fieldset > label { width: 155px; padding-right: 17px;}
    #cart_teillieferung fieldset > input { width: 350px; }
    #cart_teillieferung fieldset.checkbox > label,
    #cart_teillieferung fieldset.checkbox > input {  }
    #cart_teillieferung fieldset.checkbox > label,
    #cart_teillieferung fieldset.checkbox > input {
        float: right;
        width: auto;
    }
    #cart_teillieferung fieldset.saveSettings,
    #cart_teillieferung fieldset.saveSettings > input {
        float: right;
        text-align: right;
    }
    #cart_teillieferung #adressbuch { margin: 25px 0; display: none; }
    #cart_teillieferung #adressbuch.visible { display: block; }
    #cart_teillieferung #adressbuch table td:first-of-type { text-align: center; width: 15px; }
    #cart_teillieferung #adressbuch table td:first-of-type a { padding: 5px; }
    #cart_teillieferung #adressbuch table td:first-of-type a:hover { text-decoration: none; }
    #cart_teillieferung #adressbuch table td,
    #cart_teillieferung #lieferadressenliste td {
        width: auto;
        text-align: left;
        padding: 5px;
    }
    #cart_teillieferung #lieferadressenliste tr:nth-of-type(even) {
        background: #f7f7f7;
    }
    #lieferadressenliste td {font-size: 12px; }
}
@media screen and (max-width: 786px) {
    #cart_teillieferung fieldset,
    #cart_teillieferung fieldset > label,
    #cart_teillieferung fieldset > input { width: 100%; }
}
@media screen and (max-width: 664px) {
    #cart_teillieferung fieldset.checkbox > input { margin-top: 13px; }
}
@media screen and (max-width: 500px) {
    #lieferadressenliste thead {display: none; }
}
.privacypolicyContact > input{width:50px; }
.privacypolicyContact > label:last-of-type {width: 280px; font-size: 14px;}
#order_sample form label{text-align: left;}
#order_sample form label:last-of-type{width: 280px; font-size: 14px;}
#order_sample form input#datenschutz{cursor: pointer; line-height: 30px; width: 15px; height: 15px; margin-top: 13px; margin-right: 10px;}
.privacypolicy_recommend > label:last-of-type{width: 280px; font-size: 14px;}
form#popup_recommend input#datenschutz{cursor: pointer; line-height: 30px; width: 15px; height: 15px; margin-top: 13px; margin-right: 10px;}
fieldset.privacypolicy_shipping {line-height: 28px;}
.privacypolicy_shipping > label {margin-bottom: 70px;}

/** */
img.colorPagePreview {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    opacity: 0.64;
    transition: 0.5s all;
}

img.colorPagePreview:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    opacity: 1;
}

#customizeColorPagesDialog {
    overflow: hidden;
}

#customizeColorPagesDialog input[type=checkbox] {
    position: absolute;
    left: -100px;
}
#customizeColorPagesDialog label {
    margin: 20px 0 10px 0;
    cursor: pointer;
    width: 100%;
    white-space: normal;
    text-align: center;
}
#customizeColorPagesDialog img {
    filter: grayscale(100%);
    border: 1px solid #fff;
}
#customizeColorPagesDialog img:hover {
    filter: grayscale(50%);
}
#customizeColorPagesDialog input[type=checkbox]:checked ~ img {
    filter: grayscale(0%);
    border: 1px solid #ec8e10;}

#customizeColorPagesDialog input[type=checkbox]:checked ~ p {
    color: #ec8e10;
}

#customizeColorPagesDialog img {
    width: 100%;
    float: none;
    margin: 0;
    height: auto;
}

#customizeColorPagesDialog p {
    font-size: 14px;
    line-height: 20px;
}

#customizeColorPagesDialog hr {
    margin: 15px 0;
}

#colorPagesListing>.page {
    width: 24%;
    box-sizing: border-box;
    display: inline-block;
}

#colorPagesListing>.page p {
    text-align: center;
    margin-bottom: 0;
}

#customizeColorPagesDialog h2:after {
    content: none;
}

#customizeColorPagesDialog h1 {
    margin: 0;
}

#customizeColorPagesDialog h2 {
    margin: 0;
}

#customizeColorPagesDialog .col_left,
#customizeColorPagesDialog .col_right {
    box-sizing: border-box;
    width: 45%;
}

#customizeColorPagesDialog .col_left {
    float: left;
}

#customizeColorPagesDialog .col_right {
    float: right;
}

#customizeColorPagesDialog .colorPagesStats {
    font-weight: bold;
}

/* Klickbare Staffelpreise */

@media screen {
    #pricecalingWrapper { position: relative; width: 350px; float: right; margin-right: 34px; }

    #pricecalingWrapper > label {
        padding-right: 0;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        float: none;
        text-align: left;
        width: inherit;
        line-height: 20px;
        vertical-align: middle;
    }
    #pricecalingWrapper > label:after {
        margin-left: 5px;
        margin-top: 0;
        font-family: 'icon';
        font-size: 14px;
        content: 'v';
        display: inline-block;
        vertical-align: middle;
    }

    #togglePricescaling:checked + label { padding-bottom: 3px; border-bottom: solid 1px #afafaf; }

    #togglePricescaling:not(:checked) + label:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}
    #pricecalingWrapper > input { width: 0; height: 0; opacity: 0; position: absolute; top: -20000px; left: -20000px; }

    #clickablePricescaling {
        height: 0;
        float: right;
        overflow: hidden;
    }

    #togglePricescaling:checked ~ #clickablePricescaling {height: auto; }

    #clickablePricescaling { width: 100%; }
    #clickablePricescaling ul { margin: 10px 0 0 0; }
    #clickablePricescaling ul li { width:32%; margin: 0 2% 10px 0; float: left; }
    #clickablePricescaling ul li:nth-child(3n+3) { margin-right: 0;}

    #clickablePricescaling ul li a {
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        transition: all 100ms ease-in;
    }
    #clickablePricescaling ul li a:hover,
    #clickablePricescaling ul li a:focus,
    #clickablePricescaling ul li a:active { border: 1px solid #b7b7b7; }

    #clickablePricescaling ul li a span { display: block; font-size: 11px; font-weight: 400; }
    #clickablePricescaling ul li a .price { padding: 2px 5px; }
    #clickablePricescaling ul li a .price strong {font-size: 11px; display: block;}

    #clickablePricescaling ul li a .description { background: #f9f9f9; padding: 5px; transition: all 200ms ease-in;}
    #clickablePricescaling ul li a:hover .description,
    #clickablePricescaling ul li a:focus .description,
    #clickablePricescaling ul li a:active .description { background: #eaeaea; font-weight: 700; }
}

@media screen and (max-width: 800px) {
    #pricecalingWrapper { width: auto; }
    #pricecalingWrapper > label { text-align: right; }
}

@media screen and (max-width: 500px) {
    #pricecalingWrapper { margin-right: 0; }
    #pricecalingWrapper > label { text-align: left; }
}