{*Tabed overview module*}
<section class="trade-groups sidebar">
    <div class="wrp">
        {if $SCRIPT_NAME == "/overview.htm" || $SCRIPT_NAME == "/index.htm" }
        <h3>Alle Produkte in der &Uuml;bersicht</h3>
        {else}
        <h2>Unsere Artikel im &Uuml;berblick</h2>
        {/if}
        <aside class="sidebar">
            <ul>
                {foreach from=$groupData item=item name=count}
                {if $item.show_in_tabs == 1}
                <li class="tab menu-item-{$smarty.foreach.count.index}"><a href="{$item.seo_url}">{$item.bezeichnung}</a></li>
                {/if}
                {/foreach}
            </ul>
        </aside>

        <div class="content">
            {foreach from=$groupData item=item name=count key=key}
            {if $item.show_in_tabs == 1}
            <div class="menu-item-{$smarty.foreach.count.index} tab_content">
                {foreach from=$item.subarea item=item2 key=key2}
                <article class="card">
                    <figure>
                        {if $item2.bild != ''}
                        <img src="image.php?f={$item2.bild}" alt="{$item2.bezeichnung}" />
                        {else}
                        <img src="/image.php?t=tpl&f=assets/not-found_tradegroup_small.jpg" alt="{$item2.bezeichnung}" />
                        {/if}
                        <figcaption>
                            <h2>{$item2.bezeichnung}</h2>
                        </figcaption>
                    </figure>
                    <a href="{$item2.seo_url}"></a>
                </article>
                {/foreach}
            </div>
            {/if}
            {/foreach}


        </div>
        <div class="clr"></div>
    </div>
</section>