<nav id="customer-menu">

    {****** Suche *****}
    {*include file="data/inc.block.header.search.htm"*}

    <button data-modal="login" class="menu-item-login  {if $LoggedIn}login_status_green{else}login_status_red{/if}" title="{if $LoggedIn}{$lang.mein_konto}{else}{$lang.inc_3p_login}{/if}">
        <span>{if $LoggedIn}{$lang.mein_konto}{else}{$lang.anmelden}{/if}</span>
    </button>


    <a class="menu-item-cart{if $aCart} active{/if}" title="{$lang.cart}" href="/cart_first.htm">
       <!-- <span class="count">{if $nCartCount != 0}{$nCartCount}{else}0{/if}</span>-->
        <span>{$lang.cart}</span>
    </a>

    <section class="modal" id="login">
        {block name="inc-header-logo"}
        <a id="brand-logo" href="/index.htm">
            {if $aPage.logo != "/userfiles/blank.gif"}
            <img src="{$aPage.logo}" alt="{if $sTitle}{$sTitle}{else}Online-Druckshop{/if}" />
            {else}
            <img src="/image.php?t=tpl&f=assets/logo.png" alt="{if $sTitle}{$sTitle}{else}Online-Druckshop{/if}" width="320" height="62" />
            {/if}
        </a>
        {/block}
        {if $LoggedIn}
        <form method="post" action="/index.htm?logout=1" name="formLogin">
            <a class="btn" href="/konto_adresse.htm">{$lang.mein_konto}</a>
            {if $showContactPerson}
                <a href="/contact_person.htm">{$lang.nav_contact_person}</a>
            {/if}
            <a href="/konto_tracking.htm">{$lang.mein_konto_auftragsstatus}</a>
            {if $hasRelatedArticle}
                <a href="/article_customer.htm">{$lang.my_account_linked_article}</a>
            {/if}
            <button name="kundenholensubmit2" type="submit" id="kundenholensubmit2">{$lang.ausloggen}</button>
            <a href="/pw_lost.htm">{$lang.inc_3p_pw_change}</a>
            <input type="hidden" name="DoLogOut" id="DoLogOut" value="1">
        {else}
            <form method="post" action="/konto_login.htm" name="formLogin">
            <fieldset>
                <label for="email">{$lang.input_email}</label>
                <input type="text" name="kundennr" id="email" value="{$lang.input_email}" placeholder="{$lang.input_email}" />
            </fieldset>
            <fieldset>
                <label for="kundenpasswort">{$lang.input_passwort}</label>
                <input name="kundenpasswort" type="text" id="kundenpasswort" value="Passwort" placeholder="Passwort" onfocus="this.value=''; this.type='password';"/>
            </fieldset>
            <input type="hidden" name="DoLogin" id="DoLogin" value="1" >
            <button class="btn" name="kundenholensubmit" type="submit" id="kundenholensubmit" value="{$lang.einloggen}">{$lang.einloggen}</button>

            <a href="/pw_lost.htm">{$lang.inc_pw_vergessen}</a>
            <a href="/adresse.htm?onlyreg=1&">{$lang.registrieren}</a>
        {/if}
        </form>
    </section>
</nav>