<button type="button" id="offcanvas_open"></button>

<nav id="offcanvas">
    <header>
        <div class="wrp cf">
            <div class="offcanvas-headline">Men&uuml;</div>
            <button type="button" id="offcanvas_close"></button>
        </div>
    </header>

    <div id="shortcut_menu">
        <a href="/index.htm" class="btn home"></a>
        <a href="/cart_first.htm" class="btn cart">
            <span class="count">{if $nCartCount != 0}{$nCartCount}{else}0{/if}</span>
        </a>
        <a href="/konto_login.htm" class="btn login"></a>
    </div>


    <div class="wrp cf">
    <ul id="offcanvas_productmenu">
        <li><h3>Produkte</h3>
            <ul>
                {counter start=0 skip=1 assign=itemCounter print=false}
                {foreach from=$groupData item=item key=key name=count}
                {counter}
                {if $itemCounter <= 7}
                <li class="menu-item-{$smarty.foreach.count.index}{if $item.subarea} has-children{/if}">
                    <a href="{$item.seo_url}">
                        {$item.bezeichnung}
                        {if $item.subtitle}<em>{$item.subtitle}</em>{/if}
                    </a>
                    {if $item.subarea}
                    <ul>
                        {foreach from=$item.subarea item=item2}
                        <li class="children has-parent">
                            <a href="{$item2.seo_url}">{$item2.bezeichnung}</a>
                        </li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/if}
                {/foreach}
                {if $itemCounter > 7}
                <li class="menu-item-more"><a href="/overview.htm">Mehr anzeigen</a></li>
                {/if}
            </ul>
        </li>
    </ul>
    <ul id="offcanvas_servicecenter">
        <li><h3>Service-Center</h3></li>
        {if $dataTabMenu}
        {foreach from=$dataTabMenu item=item key=key}
        <li><a href="{$item.seo_url}">{$item.bezeichnung}</a></li>
        {/foreach}
        {/if}
        <li><a href="/kontakt.htm">{$lang.kontakt}</a></li>
        <li><a href="/cms.htm?c=agb">{$lang.agb}</a></li>
        <li><a href="/newsletter_anmelden.htm">{$lang.newsletter_anmelden}</a></li>
    </ul>
    {if $LoggedIn}
    <form method="post" action="/index.htm" name="formLogin">
    <ul>
        <li>
            <button name="kundenholensubmit2" type="submit" id="kundenholensubmit2">{$lang.ausloggen}</button>
            <input type="hidden" name="DoLogOut" id="DoLogOut" value="1">
        </li>
    </ul>
    </form>
    {/if}
    </div>

</nav>