<section id="trade-blocks">
    <div class="wrp cf">
        {if $startPageBlock}
        {assign var="trade_blocks_value" value="0"}
            {foreach from=$startPageBlock item=item key=key }
            {assign var=trade_blocks_value value=$trade_blocks_value+$item.type_block}
                <figure class='card{if $item.type_block == 2} double{/if} {if $trade_blocks_value >= 3}last-item{assign var="trade_blocks_value" value="0"}{/if}'>
                    {if $item.headline}<h3>{$item.headline}</h3>{/if}
                    <div class="mask">{if $item.image}<img src="image.php?f={$item.image}&t=cm" alt="{$item.headline}"/>{/if}</div>
                    <figcaption>
                        <p>{$item.text}</p>
                        <a href="{$item.link}"></a>
                    </figcaption>
                </figure>
            {/foreach}
        {/if}
    </div>
</section>