<section class="product-listing full">
    <div class="wrp">
        <h1>
            {if isset($productListingTitle)}
                {$productListingTitle}
            {else}
                {$aWarengruppe.bezeichnung}
            {/if}
        </h1>
        <div class="content">
            {if !empty($aArtikel)}

            {foreach from=$aArtikel item=item key=key}
            <article class="card">
                <figure>
                    {if $item.bild_klein != ''}
                    <img src="image.php?f={$item.bild_klein}" alt="{$item.bezeichnung}" />
                    {if $item.bild2 != ''}
                        <a href="image.php?f={$item.bild2}" class="fresco preview-btn"></a>
                    {/if}
                    {else}
                    <img src="/image.php?t=tpl&f=assets/not-found_tradegroup_small.jpg" alt="{$item.bezeichnung}" />
                    {/if}
                    <figcaption>
                        <strong>{$item.bezeichnung}</strong>
                    </figcaption>
                    <a href="{if $item.seo_url}{$item.seo_url}{else}{$item.bezeichnung_url},detail,{$item.id}.html{/if}"></a>
                </figure>
            </article>
            {/foreach}

            {else}
                <p class="hint">
                    {if isset($productListingEmptyMessage)}
                        {$productListingEmptyMessage}
                    {else}
                        Es sind keine Artikel unter dieser Warengruppe / Filterung vorhanden.
                    {/if}
                </p>
            {/if}
        </div>
        <div class="clr"></div>
    </div>
</section>