<nav class="breadcrumb">
    <div class="wrp cf">
        <ul>
            <li><a href="/index.htm">{$lang.breadcrumb_overview}</a></li>
            {foreach from=$ARR_BreadCrumb item=item key=key}
                <li>
                    <a href="{if $item.seo_url}{$item.seo_url}{else}{$item.bezeichnung_url},{if $item.typ == 'artikel'}detail{else}category{/if},{$item.id}.html{/if}">{$item.bezeichnung}</a>
                </li>
            {/foreach}
        </ul>
    </div>
</nav>
{if $ARR_BreadCrumb}
{literal}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {
    "@type": "ListItem",
    "position": "0",
    "item": {
      "@id": "{/literal}{$sHost}/index.htm{literal}",
      "name": "{/literal}{$lang.breadcrumb_overview}{literal}"
    }
  },
  {/literal}
  {foreach from=$ARR_BreadCrumb item=item key=key name=count}
  {literal}
  {
    "@type": "ListItem",
    "position": "{/literal}{$smarty.foreach.count.iteration}{literal}",
    "item": {
      "@id": "{/literal}{if $item.seo_url}{$item.seo_url}{else}{$item.bezeichnung_url},{if $item.typ == 'artikel'}detail{else}category{/if},{$item.id}.html{/if}{literal}",
      "name": "{/literal}{$item.bezeichnung}{literal}"
    }
  }{/literal}{if not $smarty.foreach.count.last},{/if}{literal}
  {/literal}
  {/foreach}
  {literal}
  ]
}
</script>
{/literal}
{/if}