<header class="main cf">
    {include file="data/blocks/inc.block.header.topbar.htm"}
        <div class="wrp">
        <section id="subHeader">
            {block name="inc-header-logo"}
            <a id="brand-logo" href="/index.htm">
                {if $aPage.logo != "/userfiles/blank.gif"}
                    <img src="{$aPage.logo}" alt="{if $sTitle}{$sTitle}{else}Online-Druckshop{/if}" />
                {else}
                    <img src="/image.php?t=tpl&f=assets/logo.png" alt="{if $sTitle}{$sTitle}{else}Online-Druckshop{/if}" width="320" height="62" />
                {/if}
            </a>
            {/block}
            {include file="data/blocks/inc.block.header.usp.htm"}
            {include file="data/inc.header.customermenu.htm"}
        </section>
        </div>
</header>
{include file="data/inc.header.offcanvas.htm"}
{include file="data/inc.header.navbar.htm"}