<nav id="navbar">
    <div class="wrp">
        <ul>
            <li>Produkte
                <ul>
                    {counter start=0 skip=1 assign=itemCounter print=false}

                    {foreach from=$groupData item=item key=key name=count}
                    {counter}
                    {if $itemCounter <= 7}
                    <li class="menu-item-{$smarty.foreach.count.index}{if $item.subarea} has-children{/if}">
                        <a href="{$item.seo_url}">
                            {$item.bezeichnung}
                            {if $item.subtitle}<em>{$item.subtitle}</em>{/if}
                        </a>
                        {if $item.subarea}
                        <ul>
                            {foreach from=$item.subarea item=item2}
                            <li class="children has-parent">
                                <a href="{$item2.seo_url}">{$item2.bezeichnung}</a>
                            </li>
                            {/foreach}
                        </ul>
                        {/if}
                    </li>
                    {/if}
                    {/foreach}



                    {if $itemCounter > 7}
                    <li class="menu-item-more"><a href="/overview.htm">Mehr anzeigen</a></li>
                    {/if}
                </ul>
            </li>
            <li><a href="/index.htm">{$lang.breadcrump_home}</a></li>
            {block name="navbarmenu"}{/block}
        </ul>
        <div class="service-menu">
            <div>Service-Center
                <ul>

                    {if $dataTabMenu}
                    {foreach from=$dataTabMenu item=item key=key}
                        <li><a href="{$item.seo_url}">{$item.bezeichnung}</a></li>
                    {/foreach}
                    {/if}

                    {if $dataCmsThemes}
                    {foreach from=$dataCmsThemes item=item key=key}
                        <li><a href="/cms_themen.htm?id={$item.id}">{$item.title}</a></li>
                    {/foreach}
                    {/if}
                    <li><a href="/kontakt.htm">{$lang.kontakt}</a></li>
                    <li><a href="/cms.htm?c=agb">{$lang.agb}</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>