<footer class="main">
    <div class="wrp">
        <div class="footer-parent">
        {include file="data/blocks/inc.block.footer.address.htm"}
        {include file="data/inc.footer.nav.products.htm"}
        {include file="data/inc.footer.nav.service.htm"}
        </div>
    </div>
</footer>
<div id="footer-bar">
    <div class="wrp">
        {block name="footer-link"}
        {$smarty.now|date_format:"%Y"} | {$contactInfo.footer}
        {/block}
        {block name="footer-brand"}
        <a href="http://lead-print.com" target="_blank" class="leadprint-brand">Lead-Print ONLINE DRUCKSHOP</a>
        {/block}
    </div>
</div>
<div id="totop"><div class="wrp"><a class="totop" href=""></a></div></div>
{*if isset($LoggedInName)}
<div class="modal login">
    Willkommen {$LoggedInVornameCoded} {$LoggedInNameCoded}
</div>
{/if*}
<div id="overlay"></div>
{block name="footer-css"}
{/block}

{if $paymentSettings.fields && ($zahlung == 'PayoneClientApi_creditcard' or $zahlung == 'PayoneClientApi_sofort')}
    <script type="text/javascript" src="https://secure.pay1.de/client-api/js/ajax.js"></script>
{/if}

{literal}
<script src="script/jquery-2.1.4.min.js"></script>
<script src="script/application.js"></script>
<script src="script/components.js"></script>
<script>
    init('{/literal}{if $aAllgEinstellungen.smarty_parent_template}{$aAllgEinstellungen.smarty_parent_template}{else}{$STR_TPLDir}{/if}{literal}');
</script>
{/literal}
{*if isset($LoggedInName)}
{literal}
<script>
    $(document).ready(function(){
        if(localStorage.getItem('loggedIn')){
            $('.modal.login').css({display:'none'});
        }else{
            localStorage.setItem('loggedIn', 'yes');
        }
    });
</script>
{/literal}
{/if*}
{block name="modules"}
{include file="modules/module_exit-intent/inc.module.exitintent.htm"}
{/block}
{block name="footer-child-js"}
{/block}
{$aAllgEinstellungen.cms_google_analytics}
{include file="data/inc.cookie_notice.htm"}