<section class="parallax">
    <figcaption class="parallax-text">
        <div class="wrp">
            <div class="textArea cf">
            <h3>Druck ist unsere Leidenschaft</h3>
            <p>Unsere Liebe zu Papier, Farbe und Design treibt uns jeden Tag zur H&ouml;chleistung an. Perfektion in der Herstellung und absolute Kundenzufriedenheit unser Ziel.</p>
            </div>
        </div>
    </figcaption>
    <div class="mask-parallax">
    {if $paralaxImage != ''}
    <img src="{$paralaxImage}" alt="{if $sTitle}{$sTitle}{else}Online-Druckshop{/if}" />
    {else}
    <img src="/image.php?t=tpl&f=assets/not-found_parallax-image.jpg" alt="{if $sTitle}{$sTitle}{else}Online-Druckshop{/if}" />
    {/if}
    </div>
</section>