<section id="usp-bar">
    <div class="wrp">
        {block name="usps"}
        <div class="usp-parent">
            <div class="usp-child">
                <img src="assets/icon/icon_1.png">
                <div class="usp-content"><span class="usp-head">Made in Germany</span><br><span class="usp-text">Pers&ouml;nliche und individuelle Beratung direkt aus Deutschland</span></div>
            </div>
            <div class="usp-child">
                <img src="assets/icon/icon_2.png">
                <div class="usp-content"><span class="usp-head">Blitzschnell</span><br><span class="usp-text">Wir liefern deine Produkte super schnell.</span></div>
            </div>
            <div class="usp-child">
                <img src="assets/icon/icon_3.png">
                <div class="usp-content"><span class="usp-head">Exzellente Qualit&auml;t</span><br><span class="usp-text">Wir garantieren beste Qualit&auml;t unserer Produkte.</span></div>
            </div>
        </div>
        {/block}
    </div>
</section>
