<address>
    <strong class="headline">Kontakt</strong>
    <div class="address-parent">
        <div class="col_left">
            <strong>{$aAllgEinstellungen.firma}</strong><br />
            {$aAllgEinstellungen.strasse}<br />
            {$aAllgEinstellungen.plz} {$aAllgEinstellungen.ort}
        </div>
        <div>
            <i class="icon phone">{$contactInfo.phone}</i>
            <i class="icon mail"><a href="mailto:{$contactInfo.email}">{$contactInfo.email}</a></i>
            {block name="footer-sentence"}
            <p>{$contactInfo.opening_time}</p>
            {/block}
        </div>
    </div>
</address>