<!--<section id="header_usp">
    <img src="/image.php?t=tpl&f=assets/usp_header_express.png" alt="Express Versand">
    <img src="/image.php?t=tpl&f=assets/usp_header_datacheck.png" alt="Datencheck plus">
    <img src="/image.php?t=tpl&f=assets/usp_header_aproofed.png" alt="Geprüfter Onlineshop">
</section>-->