.breadcrumb
  padding: 10px
  background: none
  box-sizing: border-box
  li
    float: left
    display: block
    margin-right: 5px
    a
      font-size: 14px
      display: block
      padding: 5px 10px 5px 0
      color: $color_font
      +transition()
      &:after
        font-family: 'icon'
        font-size: 14px
        color: $color_font
        float: right
        margin-left: 5px
        content: 'v'
        -webkit-transform: rotate(-90deg)
        -moz-transform: rotate(-90deg)
        -ms-transform: rotate(-90deg)
        transform: rotate(-90deg)
    &:last-child a,
    &:hover a
        +transition()
        color: $color_highlight
    &:before
      display: none