/*######################################################################################################################
  ######################################################################################################################
  #########################################################Button#######################################################
  ######################################################################################################################
  ######################################################################################################################

.btn
  position: relative
  display: inline-block
  padding: 0 10px
  border: solid 1px darken($color_highlight, 7%)
  background: $color_highlight
  border-radius: 2px
  min-width: $grid * 4
  height: 40px
  cursor: pointer
  color: $color_white
  margin-bottom: $line-height
  box-sizing: border-box
  font-size: 18px
  text-align: center
  line-height: 40px
  +transition()
  &:hover,
  &.hover
    color: $color_white
    border-color: $color_highlight
    background: lighten($color_highlight, 10%)
    +transition()
  &:active,
  &.active
    border-color: darken($color_highlight, 21%)
    background: darken($color_highlight, 11%)
  &.active
    -webkit-animation: ripple 0.1s 1 linear
    -moz-animation: ripple 0.1s 1 linear
    animation: ripple 0.1s 1 linear
    +transition()
    .anim.loading
      border-color: darken($color_highlight, 21%)
      border-bottom-color: lighten($color_highlight, 10%)
  &.success
    border-color: darken($color_highlight, 7%)
    background: $color_highlight
    &:hover,
    &.hover
      color: $color_white
      border-color: desaturate(lighten($color_highlight,2%), 10%)
      background: desaturate(lighten($color_highlight, 10%),20%)
      +transition()
    &:active,
    &.active
      border-color: darken($color_highlight, 15%)
      background: darken($color_highlight, 10%)
    &.active
      -webkit-animation: ripple 0.1s 1 linear
      -moz-animation: ripple 0.1s 1 linear
      animation: ripple 0.1s 1 linear
      +transition()
      .anim.loading
        border-color: darken($color_highlight, 21%)
        border-bottom-color: lighten($color_highlight, 10%)
  &.error
    border-color: darken($color_error, 10%)
    background: $color_error
    &:hover,
    &.hover
      color: $color_white
      border-color: desaturate($color_error, 10%)
      background: lighten($color_error, 10%)
      +transition()
    &:active,
    &.active
      border-color: darken($color_error, 21%)
      background: darken($color_error, 7%)
    &.active
      -webkit-animation: ripple 0.1s 1 linear
      -moz-animation: ripple 0.1s 1 linear
      animation: ripple 0.1s 1 linear
      +transition()
      .anim.loading
        border-color: darken($color_error, 21%)
        border-bottom-color: lighten($color_error, 10%)

  &.delete
    border-color: darken($color_error, 10%)
    background: transparent
    color: $color_error
    &:hover,
    &.hover
      color: $color_white
      border-color: desaturate($color_error, 10%)
      background: lighten($color_error, 10%)
      +transition()
    &:active,
    &.active
      border-color: darken($color_error, 21%)
      background: darken($color_error, 7%)
    &.active
      -webkit-animation: ripple 0.1s 1 linear
      -moz-animation: ripple 0.1s 1 linear
      animation: ripple 0.1s 1 linear
      +transition()
      .anim.loading
        border-color: darken($color_error, 21%)
        border-bottom-color: lighten($color_error, 10%)


  &.disabled
    cursor: not-allowed
    border: solid 1px darken($color_gray, 15%)
    background: $color_gray
    color: lighten($color_font, 20%)
    &:hover,
    &:active,
    &:focus
      color: lighten($color_font, 20%)
      border: solid 1px darken($color_gray, 15%)
      cursor: not-allowed
      background: $color_gray
      .anim.loading
        display: none
  &.upload
    padding-left: 30px
    background: transparent
    border: solid 1px darken($color_gray, 15%)
    color: $color_font
    &:before
      position: absolute
      left: 5px
      font-size: 20px
      content: 'U'
      color: $color_font
      font-family: 'icon'
      top: 2px
    &.finished
      background: $color_highlight
      color: $color_white
      &:before
        display: none
    .finished
      display: block
      width: 20px
      height: 20px
      color: $color_white
      position: absolute
      top: 5px
      font-size: 18px
      right: 5px
      -webkit-animation: popIn 0.5s 1 ease
      -moz-animation: popIn 0.5s 1 ease
      animation: popIn 0.5s 1 ease
      &:before
        font-family: 'icon'
        content: 'w'
        color: $color_white
  &.default
    background: darken($color_gray, 20%)
    color: $color_white
    border-color: darken($color_gray, 25%)
    &:hover,
    &.hover
      background: darken($color_gray, 30%)
      border-color: darken($color_gray, 35%)

  &.edit
    position: absolute
    top: 23px
    right: 40px
    padding: 5px 10px
    height: 30px
    line-height: 20px
    background: transparent
    color: $color_highlight
    border-radius: 6px
    width: auto !important
    border: none
    margin: 0 !important
    min-width: 80px
    font-size: 14px
    &:hover
      color: $color_white
      background: $color_highlight

.btn
  overflow: hidden
  &:hover
    text-decoration: none
  input
    position: absolute !important
    text-align: left !important
    top: 0 !important
    left: 0 !important
    right: 0 !important
    bottom: 0 !important
    padding: 10px !important
    box-sizing: border-box !important
    font-size: inherit !important
    color: inherit !important
    background: transparent !important
    border: 0 !important
    outline: 0 !important

//############################################################################################################Animations

.anim.loading
  display: block
  font-size: 10px
  position: absolute
  right: 10px
  top: 10px
  border-radius: 100px
  width: $font-size
  height: $font-size
  text-indent: -9999em
  border: solid 3px $color_highlight
  -webkit-animation: loader 1.1s 4 linear
  -moz-animation: loader 1.1s 4 linear
  animation: loader 1.1s 4 linear

@-webkit-keyframes loader
  0%
    -webkit-transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)

@-moz-keyframes loader
  0%
    -moz-transform: rotate(0deg)

  100%
    -moz-transform: rotate(360deg)

@keyframes loader
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)




@-webkit-keyframes ripple
  0%
    -webkit-transform: scale(1,1)
  50%
    -webkit-transform: scale(1.05,1.05)
  100%
    -webkit-transform: scale(1,1)

@-moz-keyframes ripple
  0%
    -moz-transform: scale(1,1)
  50%
    -moz-transform: scale(1.05,1.05)
  100%
    -moz-transform: scale(1,1)

@keyframes ripple
  0%
    transform: scale(1,1)
  50%
    transform: scale(1.05,1.05)
  100%
    transform: scale(1,1)
