#navbar
  -webkit-transform: translate3d(0,0,0)
  -moz-transform: translate3d(0,0,0)
  -ms-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
  background: $color_gray
  color: $color_font
  height: 50px
  position: relative;
  z-index: 2
  left: 0
  right: 0
  box-sizing: border-box
  &.sticky
    position: fixed
    top: 0
  li:before
    display: none
    margin: 0
  .wrp > ul
    margin: 0
    > li
      position: relative
      color: $color_font
      display: block
      float: left
      box-sizing: border-box
      height: 50px
      line-height: 30px
      font-size: 18px
      transition: 0.15s ease-in-out
      &:first-child
        box-sizing: border-box
        cursor: pointer
        font-size: 18px
        padding: 10px 25px
        line-height: 28px
        height: 50px
        margin-left: 0
        &:after
          float: right
          margin-left: 5px
          margin-top: 2px
          font-family: 'icon'
          content: 'v'
        &:hover
          color: $color_font
          background: $color_white

      a
        padding: 10px 25px
        box-sizing: border-box
        height: 50px
        display: block
        font-size: 18px
        line-height: 28px
        color: $color_font
        +transition()

        &:hover,
        .current
          text-decoration: none
          +transition()
          background: $color_white

        em
          font-size: 12px
          display: block


      ul
        display: none
        position: absolute
      &:hover ul
        width: 250px
        display: block
        background: $color_white
        top: 47px
        left: 0
        box-sizing: border-box
        > li
          margin: 0
          position: static

          a
            box-sizing: border-box
            width: 100%
            font-size: 16px
            color: $color_font
            display: block
            border-bottom: solid 1px
            border-color: $color_gray
            border-top: none
            padding: 10px
            height: 50px
            &:hover
              padding: 10px 10px 10px 25px
              background: $color_gray !important
              color: $color_highlight


          &.menu-item-more:hover a
            background: $color_highlight
            color: $color_white
            border: solid 1px darken($color_highlight,10%)
            border-top: none
          &:hover
            a
              background: $color_white
              border-right-color: $color_white
            ul
              min-height: 400px
              box-sizing: border-box
              padding: 15px
              display: block
              position: absolute
              left: 250px
              top: 0
              background: $color_white
              width: 350px

              li
                a
                  display: block
                  background: $color_gray
                  border: none
                  height: 30px
                  margin-bottom: 5px
                  border-radius: 2px
                  line-height: 14px
                  padding: 8px 10px
                  &:after
                    float: right
                    content: '>'
                  &:hover
                    padding: 8px 8px 8px 25px !important
          ul
            display: none



  .service-menu
    float: right
    color: $color_font
    div
      cursor: pointer
      padding: 10px
      height: 50px
      box-sizing: border-box
      font-size: 18px
      display: block
      line-height: 28px
      +transition()
      color: $color_font
      &:after
        float: right
        margin-left: 5px
        margin-top: 2px
        font-family: 'icon'
        content: 'v'
      &:hover
        +transition()
        background: $color_white
        ul
          display: block
    ul
      position: absolute
      right: 0
      top: 50px
      background: $color_white
      width: 250px
      display: none
      box-sizing: border-box
      li
        margin: 0
        position: static
        a
          box-sizing: border-box
          width: 100%
          font-size: 16px
          color: $color_font
          display: block
          border-bottom: solid 1px
          border-color: $color_gray
          padding: 10px
          +transition()
        &:hover a
          text-decoration: none
          background: $color_gray
          color: $color_highlight
          padding: 10px 10px 10px 25px
          +transition()