.parallax
  margin-top: 20px
  height: 350px
  position: relative
  figcaption
    position: absolute
    z-index: 1
    width: 100%
    top: -20px
    .textArea
      background: $color_darkgray
      box-sizing: border-box
      display: inline-block
      padding: 20px
      width: 760px
      h3
       margin-bottom: 5px
       display: inline-block
       color: $color_white
      p
        color: $color_white
        margin-bottom: 0
  .mask-parallax
    height: 100%
    overflow: hidden
    position: relative
    img
      -webkit-transform: translate3d(0,0,0)
      -moz-transform: translate3d(0,0,0)
      -ms-transform: translate3d(0,0,0)
      transform: translate3d(0,0,0)
      position: absolute
      width: 100%
      height: auto

