.rte_container
  strong
    font-family: bold

  em
    font-style: italic

  img
    max-width: 1130px
    margin-bottom: 2em

  a
    color: $color_highlight !important

  s
    text-decoration: line-through

  u
    text-decoration: underline
  li
    list-style: none
    color: $color_font
    font-size: 14px
    line-height: $line-height
    position: relative
    padding-left: 20px
    &:before
      content: ''
      background: $color_font
      margin-right: 14px
      position: absolute
      left: 0
      top: 5px
      width: 6px
      height: 6px


.rte_container:before,
.rte_container:after
  content: ""
  display: table
.rte_container:after
  clear: both