section .sidebar

  height: auto
  overflow: hidden
  float: left
  width: 280px

  ul
    margin: 0
  li
    display: block
    a
      color: $color_font
      font-size: 16px
      border-bottom: solid 1px
      border-color: $color_gray
      display: block
      padding: 15px 10px
      box-sizing: border-box
      +transition()
      &:hover
        text-decoration: none
        padding: 15px 10px 15px 25px
        background: $color_gray
        color: $color_highlight
        border-bottom-color: $color_highlight
    &.current a
      background: $color_gray
      color: $color_highlight
      border-left-color: $color_highlight
      border-left: 10px solid
    &.current a:hover
      padding: 15px 10px

    &:before
      display: none

.cat_listing .sidebar
  height: auto
  padding: 0
  width: 250px
  margin-right: 20px