#slider
  height: 300px
  width: auto
  position: relative
  z-index: 0
  .slide
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    img
      position: relative
      z-index: 0
      width: 100%
      height: auto
    figcaption
      width: 100%
      z-index: 1
      position: absolute
      left: 0
      bottom: -20px
      .textArea
        background: $color_darkgray
        box-sizing: border-box
        display: inline-block
        padding: 20px
        max-width: 50%
        strong
          font-family: 'regular'
          display: inline-block
          margin-bottom: 5px
          font-size: 24px
          color: $color_white
          text-transform: uppercase
        p
          display: block
          margin: 0
          color: $color_white
        em
          font-size: 18px
          color: $color_font
    &.active figcaption
      -webkit-animation: sliderCaption 0.35s 0s 1 ease-in
      -moz-animation: sliderCaption 0.35s 0s 1 ease-in
      -ms-animation: sliderCaption 0.35s 0s 1 ease-in
      animation: sliderCaption 0.35s 0s 1 ease-in
  .wrp
    height: 100%
  .side-nav
    position: absolute
    z-index: 2
    display: block
    width: 50px
    height: 50px
    bottom: 0
    cursor: pointer
    background: $color_white
    &:before
      content: ''
      width: 5px
      height: 5px
      margin: 18px
    &.slide-left
      right: 50px
      &:before
        +transition()
        content: ''
        border: solid
        border-color: $color_lightgray
        border-width: 0 3px 3px 0
        display: inline-block
        padding: 3px
        transform: rotate(135deg)
        -webkit-transform: rotate(135deg)
      &:hover:before
        border-color: $color_highlight
    &.slide-right
      right: 0
      &:before
        +transition()
        content: ''
        border: solid
        border-color: $color_lightgray
        border-width: 0 3px 3px 0
        display: inline-block
        padding: 3px
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
      &:hover:before
        border-color: $color_highlight
  #controlNav
    margin: 0
    position: absolute
    z-index: 1
    bottom: 20px
    text-align: center
    width: 100%
    display: none
    a
      width: 8px
      height: 8px
      border-radius: 6px
      display: inline-block
      margin: 0 5px
      background: $color_gray
      border: solid 1px darken($color_gray, 20%)
      &.current
        background: lighten($color_highlight, 40%)
        border: solid 1px $color_highlight



//############################################################Animations

@-webkit-keyframes sliderCaption
  0%
    left: -40px
  100%
    left: 0
@-moz-keyframes sliderCaption
  0%
    left: -40px
  100%
    left: 0
@-ms-keyframes sliderCaption
  0%
    left: -40px
  100%
    left: 0
@keyframes sliderCaption
  0%
    left: -40px
  100%
    left: 0