{if !$aRequest.kunden__id}
<form id="formular" method="post" name="formular" action="/cart_second.htm{if !$LoggedIn}?OerrMsg=qEd{/if}">

    {if !$aRequest.verify}
    <p class="hint">{$lang.pleaselogin}</p>
    {else}
    <p class="hint">{$lang.freischaltcode}</p>
    {/if}
    <div class="cart_login">
        <div class="col_left">
            <header>
                <h3>{$lang.newquestion}</h3>
                <hr />
                <p>{$lang.register_text}</p>
            </header>
            <div class="content">
                <button name="kundenholensubmit" type="button" class="btn success address register" >{$lang.inc_registrieren}</button>
                {if $aAllgEinstellungen.bestellung_ohne_reg}
                <hr />
                <button type="button" class="btn address without_registration">{$lang.zur_kasse_gehen_o_reg}</button>
                {/if}
            </div>
        {include file="data/inc.cart/inc.cart.paypalexpress.htm"}
        </div>

        <div class="col_right">
            <header>
                <h3>Jetzt Einloggen</h3>
                <hr />
                <p>{$lang.already_registred}</p>
            </header>
            <div class="content">
                {if !$aRequest.verify}
                <fieldset>
                    <label>{$lang.input_email}</label>
                    <input type="text" name="kundennr"  size="20" class="input" id="kundennr" />
                </fieldset>
                <fieldset>
                    <label>{$lang.passwort}</label>
                    <input name="kundenpasswort" type="password"  class="input" id="kundenpasswort"  size="20" >
                </fieldset>
                {else}
                <fieldset>
                    <label>{$lang.freischaltcode}</label>
                    <input name="verify" type="text"  class="form_input" id="verify" size="6">
                </fieldset>
                {/if}
                <input type="hidden" name="kundenholen" value="">
                {*<input type="hidden" name="checkAddress" value="1">*}
                <input type="submit" class="btn success" name="kundenholensubmit"  value="{$lang.einloggen}" />
                <div class="clr"></div>
                {if !$aRequest.verify}
                <a class="lost_pw" href="/pw_lost.htm">{$lang.inc_pw_vergessen}</a>
                {/if}
            </div>
        </div>
    </div>
</form>
{/if}